{
  "openapi": "3.1.0",
  "info": {
    "title": "Persona API Reference",
    "version": "2023-01-05",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "name": "Persona Support",
      "url": "https://help.withpersona.com/",
      "email": "support@withpersona.com"
    }
  },
  "servers": [
    {
      "url": "https://withpersona.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Interact with Persona Account objects"
    },
    {
      "name": "API Keys",
      "description": "Interact with your organization's API keys"
    },
    {
      "name": "API Logs",
      "description": "View your organization's API logs"
    },
    {
      "name": "Cases",
      "description": "Interact with Persona Case objects"
    },
    {
      "name": "Devices",
      "description": "Interact with Persona Device objects"
    },
    {
      "name": "Documents",
      "description": "Interact with Persona Document objects"
    },
    {
      "name": "Events",
      "description": "Endpoints for viewing your organization's events"
    },
    {
      "name": "Importers",
      "description": "Import external data as corresponding objects within Persona"
    },
    {
      "name": "Inquiries",
      "description": "Interact with Persona Inquiry objects"
    },
    {
      "name": "Inquiry Sessions",
      "description": "Interact with Persona Inquiry Session objects"
    },
    {
      "name": "List Items",
      "description": "Interact with Persona List Item objects"
    },
    {
      "name": "Lists",
      "description": "Interact with Persona List objects"
    },
    {
      "name": "OAuth",
      "description": "Share access to a Persona object with another organization"
    },
    {
      "name": "Reports",
      "description": "Interact with Persona Report objects"
    },
    {
      "name": "Transactions",
      "description": "Interact with Persona Transaction objects"
    },
    {
      "name": "User Audit Logs",
      "description": "View your organization's User Audit logs"
    },
    {
      "name": "Verifications",
      "description": "Interact with Persona Verification objects"
    },
    {
      "name": "Phone Carrier Database Verifications",
      "description": "Interact with Phone Carrier Database Verifications"
    },
    {
      "name": "Serpro Database Verifications",
      "description": "Interact with Serpro Database Verifications"
    },
    {
      "name": "TIN Database Verifications",
      "description": "Interact with TIN Database Verifications"
    },
    {
      "name": "Database Verifications",
      "description": "Interact with Database Verifications"
    },
    {
      "name": "Database Standard Verifications",
      "description": "Interact with Database Standard Verifications"
    },
    {
      "name": "Document Verifications",
      "description": "Interact with Document Verifications"
    },
    {
      "name": "Email Address Verifications",
      "description": "Interact with Email Address Verifications"
    },
    {
      "name": "Government ID Verifications",
      "description": "Interact with Government ID Verifications"
    },
    {
      "name": "Phone Number Verifications",
      "description": "Interact with Phone Number Verifications"
    },
    {
      "name": "Selfie Verifications",
      "description": "Interact with Selfie Verifications"
    },
    {
      "name": "Webhooks",
      "description": "Interact with Webhooks via API"
    },
    {
      "name": "Workflows",
      "description": "Interact with Persona Workflow objects"
    }
  ],
  "externalDocs": {
    "description": "Full API documentation on the Persona website",
    "url": "https://docs.withpersona.com/reference"
  },
  "paths": {
    "/accounts": {
      "get": {
        "description": "Returns a list of your organization's <<glossary:account>>(s).",
        "operationId": "list-all-accounts",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/list-all-accounts"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "in": "query",
            "name": "page",
            "style": "deepObject",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/nested-pagination-query-params"
                },
                {
                  "type": "object",
                  "properties": {
                    "after": {
                      "example": "act_ABC123"
                    },
                    "before": {
                      "example": "act_ABC123"
                    }
                  }
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "reference-id": {
                  "description": "Filter accounts by reference ID",
                  "type": "string"
                }
              }
            }
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "type": "account",
                          "id": "act_ef2mUFHAejxf2XJ5qzU4uMQb",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2020-01-02T17:42:27.000Z",
                            "updated-at": "2020-01-02T18:06:41.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_YcNZJLxuwEuV8jUPbykYQyXG",
                          "attributes": {
                            "reference-id": "Mike's test",
                            "created-at": "2019-12-19T21:42:49.000Z",
                            "updated-at": "2019-12-19T21:42:49.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_2wM8yufwLrbMV6kUtGPBxeGS",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-18T22:43:03.000Z",
                            "updated-at": "2019-12-18T22:43:03.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_LatvE1PdVhfiwcJWVLj4Z25j",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-13T08:34:10.000Z",
                            "updated-at": "2019-12-13T08:34:10.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_RU3JgzXaAzVV2g2NYLd7ub12",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-13T08:32:49.000Z",
                            "updated-at": "2019-12-13T08:33:29.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_Eoe14YQ7efbiH73zkTFAkveB",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-12T20:50:55.000Z",
                            "updated-at": "2019-12-12T20:50:55.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_X5LmoEaYASq3ahQmRRTpMG1t",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-05T20:56:43.000Z",
                            "updated-at": "2019-12-05T20:56:43.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_6LRELcKmPcx9MxYGk6mdCPJo",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-11-19T00:10:27.000Z",
                            "updated-at": "2019-11-19T00:10:27.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_1bRzHZSH17PpXCCnMGoYhzde",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-11-18T17:38:03.000Z",
                            "updated-at": "2019-11-18T17:38:03.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_u2Dgz8U3CmxTVgqEH9qzezHi",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-11-15T22:14:41.000Z",
                            "updated-at": "2019-11-15T22:14:41.000Z"
                          }
                        }
                      ],
                      "links": {
                        "prev": null,
                        "next": "/api/v1/accounts?page%5Bafter%5D=act_u2Dgz8U3CmxTVgqEH9qzezHi"
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/account"
                      },
                      "type": "array",
                      "description": "An array of Accounts"
                    },
                    "links": {
                      "properties": {
                        "next": {
                          "examples": [
                            "/api/v1/accounts?page%5Bafter%5D=act_u2Dgz8U3CmxTVgqEH9qzezHi"
                          ],
                          "type": "string"
                        },
                        "prev": {}
                      },
                      "type": "object"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "List all Accounts",
        "tags": [
          "Accounts"
        ]
      },
      "post": {
        "description": "Creates a new Account for your organization.",
        "operationId": "create-an-account",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/create-an-account"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "properties": {
                      "attributes": {
                        "properties": {},
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "reference-id": {
                                "description": "Reference ID on Account, refers to an entity in your user model",
                                "type": "string"
                              },
                              "selfie-photo": {
                                "description": "Selfie photo.",
                                "properties": {
                                  "data": {
                                    "description": "Selfie photo data, must be an image. Can also be provided as an uploaded file such as with multipart/form-data requests instead of this object.",
                                    "properties": {
                                      "data": {
                                        "description": "Base64 encoded image",
                                        "type": "string"
                                      },
                                      "filename": {
                                        "description": "Name of the image",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "tags": {
                                "description": "A list of tag names to be associated with the Account.",
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "country-code": {
                                "description": "ISO 3166-1 alpha 2 country code.",
                                "examples": [
                                  "US"
                                ],
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "social-security-number": {
                                "description": "Social security number.",
                                "examples": [
                                  "123-45-6789"
                                ],
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          {
                            "$ref": "#/components/schemas/default-fields"
                          }
                        ]
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Created",
                    "$ref": "#/components/examples/account"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Create an Account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}": {
      "delete": {
        "description": "Permanently deletes personally identifiable information (PII) for an Account and all associated Inquiries, Verifications and Reports. **This action cannot be undone**.\n\nThis endpoint can be used to comply with privacy regulations such as GDPR / CCPA or to enforce data privacy.\n\nNote: An account is still updatable after redaction. If you want to delete data continuously, please reach out to us to help you setup a retention policy.",
        "operationId": "redact-an-account",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/redact-an-account"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/account"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Redact an Account",
        "tags": [
          "Accounts"
        ]
      },
      "get": {
        "description": "Retrieves the details of an existing Account.",
        "operationId": "retrieve-an-account",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/retrieve-an-account"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/account"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Retrieve an Account",
        "tags": [
          "Accounts"
        ]
      },
      "patch": {
        "description": "Updates an existing Account.",
        "operationId": "update-an-account",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/update-an-account"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "properties": {
                      "attributes": {
                        "properties": {},
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "reference-id": {
                                "description": "Reference ID on Account, refers to an entity in your user model",
                                "type": "string"
                              },
                              "selfie-photo": {
                                "description": "Selfie photo.",
                                "properties": {
                                  "data": {
                                    "description": "Selfie photo data, must be an image. Can also be provided as an uploaded file such as with multipart/form-data requests instead of this object.",
                                    "properties": {
                                      "data": {
                                        "description": "Base64 encoded image",
                                        "type": "string"
                                      },
                                      "filename": {
                                        "description": "Name of the image",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "tags": {
                                "description": "A list of tag names to be associated with the Account.",
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "country-code": {
                                "description": "ISO 3166-1 alpha 2 country code.",
                                "examples": [
                                  "US"
                                ],
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "social-security-number": {
                                "description": "Social security number.",
                                "examples": [
                                  "123-45-6789"
                                ],
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          {
                            "$ref": "#/components/schemas/default-fields"
                          }
                        ]
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/account"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Update an Account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/add-tag": {
      "post": {
        "description": "Adds a new tag to an Account",
        "operationId": "accounts-add-tag",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/accounts-add-tag"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/account"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Add tag to an Account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/consolidate": {
      "post": {
        "description": "Consolidates several source Accounts' information into one target Account. Any Persona resource associated with the source Account will be transferred over to the destination Account. However, the Account's attributes will **not** be transferred. After consolidation, you can update the destination Account's attributes using the [Account update endpoint](https://docs.withpersona.com/reference/update-an-account).\n\nThis endpoint can be used to clean up duplicate Accounts.\n\nNote: A source account can only be consolidated once. Afterwards, the source account will be archived.",
        "operationId": "consolidate-into-an-account",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/consolidate-into-an-account"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "description": "Destination Account ID",
            "in": "path",
            "name": "account-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "source-account-ids": {
                        "description": "A list of Account IDs that need to be consolidated into the destination Account.",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Accepted",
                    "$ref": "#/components/examples/account"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Consolidate Accounts",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/remove-tag": {
      "post": {
        "description": "Removes an existing tag from an Account",
        "operationId": "accounts-remove-tag",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/accounts-remove-tag"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/account"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Remove tag from an Account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/set-tags": {
      "post": {
        "description": "Sets all tags on an Account. Any tags that are not provided in the request will be removed.",
        "operationId": "accounts-set-all-tags",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/accounts-set-all-tags"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "tag-name": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/account"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/account"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Set tags on an Account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/api-keys": {
      "get": {
        "description": "Returns a list of your organization's API keys.",
        "operationId": "list-all-api-keys",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/list-all-api-keys"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "in": "query",
            "name": "page",
            "style": "deepObject",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/nested-pagination-query-params"
                },
                {
                  "type": "object",
                  "properties": {
                    "after": {
                      "example": "api_ABC123"
                    },
                    "before": {
                      "example": "api_ABC123"
                    }
                  }
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Filter API keys by name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/api-key-list"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/api-key"
                      },
                      "type": "array",
                      "description": "An array of API Keys"
                    },
                    "links": {
                      "properties": {
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "List all API keys",
        "tags": [
          "API Keys"
        ]
      },
      "post": {
        "description": "Creates a new API key with response defaults and permissions.",
        "operationId": "create-an-api-key",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/create-an-api-key"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/api-key-request"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/api-key-with-value"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/api-key-with-value"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  }
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Create an API key",
        "tags": [
          "API Keys"
        ]
      }
    },
    "/api-keys/{api-key-id}": {
      "get": {
        "description": "Retrieves the information for an existing API key, including its value.",
        "operationId": "retrieve-an-api-key",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/retrieve-an-api-key"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "description": "API key's ID (starts with \"api_\")",
            "in": "path",
            "name": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/api-key-with-value"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/api-key-with-value"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Retrieve an API key",
        "tags": [
          "API Keys"
        ]
      },
      "patch": {
        "description": "Updates an existing API key.",
        "operationId": "update-an-api-key",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/update-an-api-key"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "description": "API key's ID (starts with \"api_\")",
            "in": "path",
            "name": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/api-key-request"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/api-key"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/api-key"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Update an API key",
        "tags": [
          "API Keys"
        ]
      }
    },
    "/api-keys/{api-key-id}/expire": {
      "post": {
        "description": "Deactivates an API key within some time period",
        "operationId": "expire-an-api-key",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/expire-an-api-key"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "description": "API key's ID (starts with \"api_\")",
            "in": "path",
            "name": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "expires-in-seconds": {
                        "description": "Number of seconds from now to expire the key (max of 30 days)",
                        "type": "integer"
                      }
                    },
                    "required": [
                      "expires-in-seconds"
                    ],
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/api-key"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/api-key"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Expire an API key",
        "tags": [
          "API Keys"
        ]
      }
    },
    "/api-logs": {
      "get": {
        "description": "Returns a list of your organization's API Logs.",
        "operationId": "list-all-api-logs",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/list-all-api-logs"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "in": "query",
            "name": "page",
            "style": "deepObject",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/nested-pagination-query-params"
                },
                {
                  "type": "object",
                  "properties": {
                    "after": {
                      "example": "req_ABC123"
                    },
                    "before": {
                      "example": "req_ABC123"
                    }
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/api-log-list"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/api-log"
                      },
                      "type": "array",
                      "description": "An array of API Logs"
                    },
                    "links": {
                      "properties": {
                        "next": {
                          "examples": [
                            "/api/v1/api-logs?page%5Bafter%5D=req_19pQg1NHfYeUdpIvYZ54xmDz"
                          ],
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "examples": [
                            "/api/v1/api-logs?page%5Bbefore%5D=req_1ePP8j3pyznPCEuw4TCjWWD0"
                          ],
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "List all API Logs",
        "tags": [
          "API Logs"
        ]
      }
    },
    "/api-logs/{api-log-id}": {
      "get": {
        "description": "Retrieves the details of an existing API Log.",
        "operationId": "retrieve-an-api-log",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/retrieve-an-api-log"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "api-log-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "$ref": "#/components/examples/api-log"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/api-log"
                    },
                    "included": {
                      "$ref": "#/components/schemas/empty-included-objects"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Retrieve an API Log",
        "tags": [
          "API Logs"
        ]
      }
    },
    "/cases": {
      "get": {
        "description": "Returns a list of your organization's cases.\n\nNote that this endpoint aggregates cases across all <<glossary:case template>>(s). See [Pagination](https://docs.withpersona.com/reference/pagination)for more details about handling the response.",
        "operationId": "list-all-cases",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/list-all-cases"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "in": "query",
            "name": "page",
            "style": "deepObject",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/nested-pagination-query-params"
                },
                {
                  "type": "object",
                  "properties": {
                    "after": {
                      "example": "case_ABC123"
                    },
                    "before": {
                      "example": "case_ABC123"
                    }
                  }
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "Filter cases by status",
                  "examples": [
                    "Open"
                  ],
                  "type": "string"
                },
                "resolution": {
                  "description": "Filter cases by resolution",
                  "type": "string"
                },
                "case-template-id": {
                  "description": "Filter cases by case template ID",
                  "examples": [
                    "ctmpl_ABC123"
                  ],
                  "type": "string"
                },
                "account-id": {
                  "description": "Filter cases by account ID",
                  "examples": [
                    "act_ABC123"
                  ],
                  "type": "string"
                },
                "inquiry-id": {
                  "description": "Filter cases by inquiry ID",
                  "examples": [
                    "inq_ABC123"
                  ],
                  "type": "string"
                },
                "report-id": {
                  "description": "Filter cases by report ID",
                  "examples": [
                    "rep_ABC123"
                  ],
                  "type": "string"
                }
              }
            }
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "type": "case",
                          "id": "case_KsFU1Vxv9oK3ztnwQuD7MaJo",
                          "attributes": {
                            "status": "open",
                            "name": "KCAS-1",
                            "resolution": null,
                            "created-at": "2021-03-24T04:59:21.764Z",
                            "updated-at": "2021-03-24T04:59:21.764Z",
                            "assigned-at": null,
                            "resolved-at": null,
                            "redacted-at": null,
                            "sla-expires-at": null,
                            "creator-id": "case_creator@withpersona.com",
                            "creator-type": "user",
                            "assignee-id": "case_assignee@withpersona.com",
                            "assigner-id": "case_assigner@withpersona.com",
                            "assigner-type": "user",
                            "resolver-id": null,
                            "resolver-type": null,
                            "updater-id": "case_updater@withpersona.com",
                            "updater-type": "user",
                            "tags": [],
                            "fields": {}
                          },
                          "relationships": {
                            "case-template": {
                              "data": {
                                "type": "case-template",
                                "id": "ctmpl_336jV1uVaaY84GAqvG91oiy9"
                              }
                            },
                            "case-comments": {
                              "data": []
                            },
                            "accounts": {
                              "data": []
                            },
                            "inquiries": {
                              "data": [
                                {
                                  "type": "inquiry",
                                  "id": "inq_eGK41TM6GjcZgdcoox7x8Hh0"
                                }
                              ]
                            },
                            "reports": {
                              "data": []
                            },
                            "verifications": {
                              "data": []
                            },
                            "txns": {
                              "data": []
                            }
                          }
                        }
                      ],
                      "links": {
                        "prev": null,
                        "next": "/api/v1/cases?page%5Bafter%5D=case_19pQg1NHfYeUdpIvYZ54xmDz"
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/case"
                      },
                      "type": "array",
                      "description": "An array of Cases"
                    },
                    "links": {
                      "properties": {
                        "next": {
                          "examples": [
                            "/api/v1/cases?page%5Bafter%5D=case_19pQg1NHfYeUdpIvYZ54xmDz"
                          ],
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "examples": [
                            "/api/v1/cases?page%5Bbefore%5D=case_1ePP8j3pyznPCEuw4TCjWWD0"
                          ],
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "List all Cases",
        "tags": [
          "Cases"
        ]
      },
      "post": {
        "description": "Creates a new case in your organization.",
        "operationId": "create-a-case",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/create-a-case"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "properties": {
                      "attributes": {
                        "description": "Properties can include Case Template ID, creator email address, and fields configured on your Case Template.",
                        "properties": {
                          "case-template-id": {
                            "description": "ID of the case template for this case",
                            "type": "string"
                          },
                          "creator-email-address": {
                            "description": "Email of the user creating this case in the organization",
                            "type": "string"
                          }
                        },
                        "additionalProperties": true,
                        "required": [
                          "case-template-id"
                        ],
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "meta": {
                    "properties": {
                      "object-ids": {
                        "description": "Array of Persona object IDs that should be related to this case",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "sla-expires-in-seconds": {
                        "description": "Number of seconds from now when SLA expires (max of 90 days).",
                        "examples": [
                          7200
                        ],
                        "type": [
                          "null",
                          "number"
                        ]
                      }
                    },
                    "type": "object"
                  }
                },
                "required": [
                  "data"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Created",
                    "value": {
                      "data": {
                        "type": "case",
                        "id": "case_gqe7rH38FvxtzhGBQmDBsjkB",
                        "attributes": {
                          "status": "open",
                          "name": "MRR-3",
                          "resolution": null,
                          "created-at": "2021-09-28T05:18:36.200Z",
                          "updated-at": "2021-09-28T05:18:36.200Z",
                          "assigned-at": null,
                          "resolved-at": null,
                          "redacted-at": null,
                          "sla-expires-at": "2021-09-28T07:18:36.200Z",
                          "creator-id": "case_creator@withpersona.com",
                          "creator-type": "user",
                          "assignee-id": null,
                          "assigner-id": null,
                          "assigner-type": null,
                          "resolver-id": null,
                          "resolver-type": null,
                          "updater-id": null,
                          "updater-type": null,
                          "tags": [],
                          "fields": {}
                        },
                        "relationships": {
                          "case-template": {
                            "data": {
                              "type": "case-template",
                              "id": "ctmpl_Jumm3K4zHwaLBBdyLUCnHbBC"
                            }
                          },
                          "case-comments": {
                            "data": []
                          },
                          "accounts": {
                            "data": []
                          },
                          "inquiries": {
                            "data": [
                              {
                                "type": "inquiry",
                                "id": "inq_KHK4MJCE4QvfocWB2intQ3YE"
                              }
                            ]
                          },
                          "reports": {
                            "data": []
                          },
                          "verifications": {
                            "data": []
                          },
                          "txns": {
                            "data": []
                          }
                        }
                      },
                      "included": [
                        {
                          "type": "inquiry",
                          "id": "inq_b6UPkf7mNC1qBtLXnfaWyUbA",
                          "attributes": {
                            "status": "expired",
                            "reference-id": null,
                            "note": null,
                            "behaviors": {
                              "request-spoof-attempts": null,
                              "user-agent-spoof-attempts": null,
                              "distraction-events": null,
                              "hesitation-baseline": null,
                              "hesitation-count": null,
                              "hesitation-time": null,
                              "shortcut-copies": null,
                              "shortcut-pastes": null,
                              "autofill-cancels": null,
                              "autofill-starts": null,
                              "devtools-open": null,
                              "completion-time": null,
                              "hesitation-percentage": null,
                              "behavior-threat-level": null
                            },
                            "tags": [],
                            "creator": "case_creator@withpersona.com",
                            "reviewer-comment": null,
                            "created-at": "2023-03-29T19:06:45.000Z",
                            "started-at": "2023-03-30T19:07:01.000Z",
                            "completed-at": null,
                            "failed-at": null,
                            "marked-for-review-at": null,
                            "decisioned-at": null,
                            "expired-at": "2023-03-30T19:07:02.000Z",
                            "redacted-at": null,
                            "previous-step-name": "start",
                            "next-step-name": "verification_document",
                            "name-first": null,
                            "name-middle": null,
                            "name-last": null,
                            "birthdate": null,
                            "address-street-1": null,
                            "address-street-2": null,
                            "address-city": null,
                            "address-subdivision": null,
                            "address-subdivision-abbr": null,
                            "address-postal-code": null,
                            "address-postal-code-abbr": null,
                            "social-security-number": null,
                            "identification-number": null,
                            "email-address": null,
                            "phone-number": null,
                            "fields": {
                              "name-first": {
                                "type": "string",
                                "value": null
                              },
                              "name-middle": {
                                "type": "string",
                                "value": null
                              },
                              "name-last": {
                                "type": "string",
                                "value": null
                              },
                              "address-street-1": {
                                "type": "string",
                                "value": null
                              },
                              "address-street-2": {
                                "type": "string",
                                "value": null
                              },
                              "address-city": {
                                "type": "string",
                                "value": null
                              },
                              "address-subdivision": {
                                "type": "string",
                                "value": null
                              },
                              "address-postal-code": {
                                "type": "string",
                                "value": null
                              },
                              "address-country-code": {
                                "type": "string",
                                "value": null
                              },
                              "birthdate": {
                                "type": "date",
                                "value": null
                              },
                              "email-address": {
                                "type": "string",
                                "value": null
                              },
                              "phone-number": {
                                "type": "string",
                                "value": null
                              },
                              "identification-number": {
                                "type": "string",
                                "value": null
                              }
                            }
                          },
                          "relationships": {
                            "account": {
                              "data": {
                                "type": "account",
                                "id": "act_RNwaSKFUDTzxUakAEuE2xmhZ"
                              }
                            },
                            "template": {
                              "data": {
                                "type": "template",
                                "id": "blu_biqYXr3aNfHuLeXUdJUNFNET"
                              }
                            },
                            "inquiry-template": {
                              "data": {}
                            },
                            "inquiry-template-version": {
                              "data": {}
                            },
                            "reviewer": {
                              "data": {}
                            },
                            "reports": {
                              "data": []
                            },
                            "verifications": {
                              "data": []
                            },
                            "sessions": {
                              "data": []
                            },
                            "documents": {
                              "data": []
                            },
                            "selfies": {
                              "data": []
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/case"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "inquiry": "#/components/schemas/inquiry",
                            "account": "#/components/schemas/account",
                            "report": "#/components/schemas/report"
                          }
                        },
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/inquiry"
                          },
                          {
                            "$ref": "#/components/schemas/report"
                          }
                        ]
                      }
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Create a Case",
        "tags": [
          "Cases"
        ]
      }
    },
    "/cases/{case-id}": {
      "delete": {
        "description": "Permanently redacts a <<glossary:Case>> and its fields. Case objects must be redacted individually. **This action cannot be undone**.",
        "operationId": "redact-a-case",
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": {
                        "type": "case",
                        "id": "case_KsFU1Vxv9oK3ztnwQuD7MaJo",
                        "attributes": {
                          "status": "Approved",
                          "name": "KCAS-1",
                          "resolution": null,
                          "created-at": "2021-03-24T04:59:21.764Z",
                          "updated-at": "2021-03-24T04:59:21.764Z",
                          "assigned-at": null,
                          "resolved-at": "2021-03-25T04:59:21.764Z",
                          "redacted-at": "2021-03-26T04:59:21.764Z",
                          "sla-expires-at": "2021-03-26T06:59:21.764Z",
                          "creator-id": "case_creator@withpersona.com",
                          "creator-type": "user",
                          "assignee-id": null,
                          "assigner-id": null,
                          "assigner-type": null,
                          "resolver-id": "case_resolver@withpersona.com",
                          "resolver-type": "user",
                          "updater-id": "case_updater@withpersona.com",
                          "updater-type": "user",
                          "tags": [],
                          "fields": {}
                        },
                        "relationships": {
                          "case-template": {
                            "data": {
                              "type": "case-template",
                              "id": "ctmpl_336jV1uVaaY84GAqvG91oiy9"
                            }
                          },
                          "case-comments": {
                            "data": [
                              {
                                "type": "case-comment",
                                "id": "cscm_yd2urRmjaCWcSSxqTSHvUcsn"
                              }
                            ]
                          },
                          "accounts": {
                            "data": [
                              {
                                "type": "account",
                                "id": "act_RNwaSKFUDTzxUakAEuE2xmhZ"
                              }
                            ]
                          },
                          "inquiries": {
                            "data": [
                              {
                                "type": "inquiry",
                                "id": "inq_b6UPkf7mNC1qBtLXnfaWyUbY"
                              }
                            ]
                          },
                          "reports": {
                            "data": []
                          },
                          "verifications": {
                            "data": []
                          },
                          "txns": {
                            "data": []
                          }
                        }
                      },
                      "included": [
                        {
                          "type": "account",
                          "id": "act_RNwaSKFUDTzxUakAEuE2xmhZ",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2021-03-24T04:59:06.000Z",
                            "updated-at": "2021-03-24T04:59:06.000Z",
                            "tags": []
                          }
                        },
                        {
                          "type": "inquiry",
                          "id": "inq_b6UPkf7mNC1qBtLXnfaWyUbA",
                          "attributes": {
                            "status": "expired",
                            "reference-id": null,
                            "note": null,
                            "behaviors": {
                              "request-spoof-attempts": null,
                              "user-agent-spoof-attempts": null,
                              "distraction-events": null,
                              "hesitation-baseline": null,
                              "hesitation-count": null,
                              "hesitation-time": null,
                              "shortcut-copies": null,
                              "shortcut-pastes": null,
                              "autofill-cancels": null,
                              "autofill-starts": null,
                              "devtools-open": null,
                              "completion-time": null,
                              "hesitation-percentage": null,
                              "behavior-threat-level": null
                            },
                            "tags": [],
                            "creator": "case_creator@withpersona.com",
                            "reviewer-comment": null,
                            "created-at": "2023-03-29T19:06:45.000Z",
                            "started-at": "2023-03-30T19:07:01.000Z",
                            "completed-at": null,
                            "failed-at": null,
                            "marked-for-review-at": null,
                            "decisioned-at": null,
                            "expired-at": "2023-03-30T19:07:02.000Z",
                            "redacted-at": null,
                            "previous-step-name": "start",
                            "next-step-name": "verification_document",
                            "name-first": null,
                            "name-middle": null,
                            "name-last": null,
                            "birthdate": null,
                            "address-street-1": null,
                            "address-street-2": null,
                            "address-city": null,
                            "address-subdivision": null,
                            "address-subdivision-abbr": null,
                            "address-postal-code": null,
                            "address-postal-code-abbr": null,
                            "social-security-number": null,
                            "identification-number": null,
                            "email-address": null,
                            "phone-number": null,
                            "fields": {
                              "name-first": {
                                "type": "string",
                                "value": null
                              },
                              "name-middle": {
                                "type": "string",
                                "value": null
                              },
                              "name-last": {
                                "type": "string",
                                "value": null
                              },
                              "address-street-1": {
                                "type": "string",
                                "value": null
                              },
                              "address-street-2": {
                                "type": "string",
                                "value": null
                              },
                              "address-city": {
                                "type": "string",
                                "value": null
                              },
                              "address-subdivision": {
                                "type": "string",
                                "value": null
                              },
                              "address-postal-code": {
                                "type": "string",
                                "value": null
                              },
                              "address-country-code": {
                                "type": "string",
                                "value": null
                              },
                              "birthdate": {
                                "type": "date",
                                "value": null
                              },
                              "email-address": {
                                "type": "string",
                                "value": null
                              },
                              "phone-number": {
                                "type": "string",
                                "value": null
                              },
                              "identification-number": {
                                "type": "string",
                                "value": null
                              }
                            }
                          },
                          "relationships": {
                            "account": {
                              "data": {
                                "type": "account",
                                "id": "act_RNwaSKFUDTzxUakAEuE2xmhZ"
                              }
                            },
                            "template": {
                              "data": {
                                "type": "template",
                                "id": "blu_biqYXr3aNfHuLeXUdJUNFNET"
                              }
                            },
                            "inquiry-template": {
                              "data": {}
                            },
                            "inquiry-template-version": {
                              "data": {}
                            },
                            "reviewer": {
                              "data": {}
                            },
                            "reports": {
                              "data": []
                            },
                            "verifications": {
                              "data": []
                            },
                            "sessions": {
                              "data": []
                            },
                            "documents": {
                              "data": []
                            },
                            "selfies": {
                              "data": []
                            }
                          }
                        },
                        {
                          "type": "case-comment",
                          "id": "cscm_yd2urRmjaCWcSSxqTSHvUcsn",
                          "attributes": {
                            "message": "This is a case comment",
                            "created-at": "2021-03-25T07:04:16.667Z",
                            "updated-at": "2021-03-25T07:04:16.667Z",
                            "commenter-id": "admin@acme.com",
                            "commenter-type": "user"
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/case"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "inquiry": "#/components/schemas/inquiry",
                            "account": "#/components/schemas/account",
                            "case-comment": "#/components/schemas/case-comment",
                            "report": "#/components/schemas/report",
                            "verification": "#/components/schemas/verification"
                          }
                        },
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/inquiry"
                          },
                          {
                            "$ref": "#/components/schemas/case-comment"
                          },
                          {
                            "$ref": "#/components/schemas/report"
                          },
                          {
                            "$ref": "#/components/schemas/verification"
                          }
                        ]
                      }
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessable-entity"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        },
        "summary": "Redact a Case",
        "tags": [
          "Cases"
        ]
      },
      "get": {
        "description": "Retrieves the details of an existing <<glossary:Case>>.",
        "operationId": "retrieve-case",
        "externalDocs": {
          "description": "Full documentation for this API on the Persona website.",
          "url": "https://docs.withpersona.com/reference/retrieve-case"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key-inflection-header"
          },
          {
            "$ref": "#/components/parameters/idempotency-key-header"
          },
          {
            "$ref": "#/components/parameters/persona-version-header"
          },
          {
            "$ref": "#/components/parameters/include-query-parameter"
          },
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "case",
                        "id": "case_KsFU1Vxv9oK3ztnwQuD7MaJo",
[...]
