openapi: 3.1.0
info:
  title: Persona API Reference
  version: '2023-01-05'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: Persona Support
    url: https://help.withpersona.com/
    email: support@withpersona.com
servers:
  - url: https://withpersona.com/api/v1
security:
  - bearerAuth: []
tags:
  - name: Accounts
    description: Interact with Persona Account objects
  - name: API Keys
    description: Interact with your organization's API keys
  - name: API Logs
    description: View your organization's API logs
  - name: Cases
    description: Interact with Persona Case objects
  - name: Documents
    description: Interact with Persona Document objects
  - name: Events
    description: Endpoints for viewing your organization's events
  - name: Importers
    description: Import external data as corresponding objects within Persona
  - name: Inquiries
    description: Interact with Persona Inquiry objects
  - name: Inquiry Sessions
    description: Interact with Persona Inquiry Session objects
  - name: List Items
    description: Interact with Persona List Item objects
  - name: Lists
    description: Interact with Persona List objects
  - name: OAuth
    description: Share access to a Persona object with another organization
  - name: Reports
    description: Interact with Persona Report objects
  - name: Transactions
    description: Interact with Persona Transaction objects
  - name: User Audit Logs
    description: View your organization's User Audit logs
  - name: Verifications
    description: Interact with Persona Verification objects
  - name: Phone Carrier Database Verifications
    description: Interact with Phone Carrier Database Verifications
  - name: Serpro Database Verifications
    description: Interact with Serpro Database Verifications
  - name: TIN Database Verifications
    description: Interact with TIN Database Verifications
  - name: Database Verifications
    description: Interact with Database Verifications
  - name: Database Standard Verifications
    description: Interact with Database Standard Verifications
  - name: Document Verifications
    description: Interact with Document Verifications
  - name: Email Address Verifications
    description: Interact with Email Address Verifications
  - name: Government ID Verifications
    description: Interact with Government ID Verifications
  - name: Phone Number Verifications
    description: Interact with Phone Number Verifications
  - name: Selfie Verifications
    description: Interact with Selfie Verifications
  - name: Workflows
    description: Interact with Persona Workflow objects
paths:
  /accounts:
    $ref: paths/accounts.yaml
  /accounts/{account-id}:
    $ref: paths/accounts_{account-id}.yaml
  /accounts/{account-id}/add-tag:
    $ref: paths/accounts_{account-id}_add-tag.yaml
  /accounts/{account-id}/consolidate:
    $ref: paths/accounts_{account-id}_consolidate.yaml
  /accounts/{account-id}/remove-tag:
    $ref: paths/accounts_{account-id}_remove-tag.yaml
  /accounts/{account-id}/set-tags:
    $ref: paths/accounts_{account-id}_set-tags.yaml
  /api-keys:
    $ref: paths/api-keys.yaml
  /api-keys/{api-key-id}:
    $ref: paths/api-keys_{api-key-id}.yaml
  /api-keys/{api-key-id}/expire:
    $ref: paths/api-keys_{api-key-id}_expire.yaml
  /api-logs:
    $ref: paths/api-logs.yaml
  /api-logs/{api-log-id}:
    $ref: paths/api-logs_{api-log-id}.yaml
  /cases:
    $ref: paths/cases.yaml
  /cases/{case-id}:
    $ref: paths/cases_{case-id}.yaml
  /cases/{case-id}/add-objects:
    $ref: paths/cases_{case-id}_add-objects.yaml
  /cases/{case-id}/assign:
    $ref: paths/cases_{case-id}_assign.yaml
  /cases/{case-id}/set-status:
    $ref: paths/cases_{case-id}_set-status.yaml
  /cases/{case-id}/add-tag:
    $ref: paths/cases_{case-id}_add-tag.yaml
  /cases/{case-id}/remove-tag:
    $ref: paths/cases_{case-id}_remove-tag.yaml
  /cases/{case-id}/set-tags:
    $ref: paths/cases_{case-id}_set-tags.yaml
  /document/generics:
    $ref: paths/document_generics.yaml
  /document/generics/{document-id}:
    $ref: paths/document_generics_{document-id}.yaml
  /document/generics/{document-id}/submit:
    $ref: paths/document_generics_{document-id}_submit.yaml
  /document/government-ids:
    $ref: paths/document_government-ids.yaml
  /document/government-ids/{document-id}:
    $ref: paths/document_government-ids_{document-id}.yaml
  /document/government-ids/{document-id}/submit:
    $ref: paths/document_government-ids_{document-id}_submit.yaml
  /documents/{document-id}:
    $ref: paths/documents_{document-id}.yaml
  /events:
    $ref: paths/events.yaml
  /events/{event-id}:
    $ref: paths/events_{event-id}.yaml
  /importers/{importer-id}:
    $ref: paths/importers_{importer-id}.yaml
  /importer/accounts:
    $ref: paths/importer_accounts.yaml
  /importer/list-item/email-addresses:
    $ref: paths/importer_list-item_email-addresses.yaml
  /importer/list-item/faces:
    $ref: paths/importer_list-item_faces.yaml
  /importer/list-item/geolocations:
    $ref: paths/importer_list-item_geolocations.yaml
  /importer/list-item/government-id-numbers:
    $ref: paths/importer_list-item_government-id-numbers.yaml
  /importer/list-item/ip-addresses:
    $ref: paths/importer_list-item_ip-addresses.yaml
  /importer/list-item/names:
    $ref: paths/importer_list-item_names.yaml
  /importer/list-item/phone-numbers:
    $ref: paths/importer_list-item_phone-numbers.yaml
  /inquiries:
    $ref: paths/inquiries.yaml
  /inquiries/{inquiry-id}:
    $ref: paths/inquiries_{inquiry-id}.yaml
  /inquiries/{inquiry-id}/add-tag:
    $ref: paths/inquiries_{inquiry-id}_add-tag.yaml
  /inquiries/{inquiry-id}/approve:
    $ref: paths/inquiries_{inquiry-id}_approve.yaml
  /inquiries/{inquiry-id}/decline:
    $ref: paths/inquiries_{inquiry-id}_decline.yaml
  /inquiries/{inquiry-id}/expire:
    $ref: paths/inquiries_{inquiry-id}_expire.yaml
  /inquiries/{inquiry-id}/generate-one-time-link:
    $ref: paths/inquiries_{inquiry-id}_generate-one-time-link.yaml
  /inquiries/{inquiry-id}/print:
    $ref: paths/inquiries_{inquiry-id}_print.yaml
  /inquiries/{inquiry-id}/remove-tag:
    $ref: paths/inquiries_{inquiry-id}_remove-tag.yaml
  /inquiries/{inquiry-id}/resume:
    $ref: paths/inquiries_{inquiry-id}_resume.yaml
  /inquiries/{inquiry-id}/set-tags:
    $ref: paths/inquiries_{inquiry-id}_set-tags.yaml
  /inquiry-sessions:
    $ref: paths/inquiry-sessions.yaml
  /inquiry-sessions/expire-all:
    $ref: paths/inquiry-sessions_expire-all.yaml
  /inquiry-sessions/{inquiry-session-id}:
    $ref: paths/inquiry-sessions_{inquiry-session-id}.yaml
  /inquiry-sessions/{inquiry-session-id}/expire:
    $ref: paths/inquiry-sessions_{inquiry-session-id}_expire.yaml
  /inquiry-sessions/{inquiry-session-id}/generate-one-time-link:
    $ref: paths/inquiry-sessions_{inquiry-session-id}_generate-one-time-link.yaml
  /list-item/browser-fingerprints:
    $ref: paths/list-item_browser-fingerprints.yaml
  /list-item/browser-fingerprints/{list-item-id}:
    $ref: paths/list-item_browser-fingerprints_{list-item-id}.yaml
  /list-item/countries:
    $ref: paths/list-item_countries.yaml
  /list-item/countries/{list-item-id}:
    $ref: paths/list-item_countries_{list-item-id}.yaml
  /list-item/email-addresses:
    $ref: paths/list-item_email-addresses.yaml
  /list-item/email-addresses/{list-item-id}:
    $ref: paths/list-item_email-addresses_{list-item-id}.yaml
  /list-item/faces:
    $ref: paths/list-item_faces.yaml
  /list-item/faces/{list-item-id}:
    $ref: paths/list-item_faces_{list-item-id}.yaml
  /list-item/geolocations:
    $ref: paths/list-item_geolocations.yaml
  /list-item/geolocations/{list-item-id}:
    $ref: paths/list-item_geolocations_{list-item-id}.yaml
  /list-item/government-id-numbers:
    $ref: paths/list-item_government-id-numbers.yaml
  /list-item/government-id-numbers/{list-item-id}:
    $ref: paths/list-item_government-id-numbers_{list-item-id}.yaml
  /list-item/ip-addresses:
    $ref: paths/list-item_ip-addresses.yaml
  /list-item/ip-addresses/{list-item-id}:
    $ref: paths/list-item_ip-addresses_{list-item-id}.yaml
  /list-item/names:
    $ref: paths/list-item_names.yaml
  /list-item/names/{list-item-id}:
    $ref: paths/list-item_names_{list-item-id}.yaml
  /list-item/phone-numbers:
    $ref: paths/list-item_phone-numbers.yaml
  /list-item/phone-numbers/{list-item-id}:
    $ref: paths/list-item_phone-numbers_{list-item-id}.yaml
  /list/browser-fingerprints:
    $ref: paths/list_browser-fingerprints.yaml
  /list/countries:
    $ref: paths/list_countries.yaml
  /list/email-addresses:
    $ref: paths/list_email-addresses.yaml
  /list/faces:
    $ref: paths/list_faces.yaml
  /list/geolocations:
    $ref: paths/list_geolocations.yaml
  /list/government-id-numbers:
    $ref: paths/list_government-id-numbers.yaml
  /list/ip-addresses:
    $ref: paths/list_ip-addresses.yaml
  /list/names:
    $ref: paths/list_names.yaml
  /list/phone-numbers:
    $ref: paths/list_phone-numbers.yaml
  /lists:
    $ref: paths/lists.yaml
  /lists/{list-id}:
    $ref: paths/lists_{list-id}.yaml
  /oauth/authorize:
    $ref: paths/oauth_authorize.yaml
  /oauth/token:
    $ref: paths/oauth_token.yaml
  /reports:
    $ref: paths/reports.yaml
  /reports/{report-id}:
    $ref: paths/reports_{report-id}.yaml
  /reports/{report-id}/add-tag:
    $ref: paths/reports_{report-id}_add-tag.yaml
  /reports/{report-id}/dismiss:
    $ref: paths/reports_{report-id}_dismiss.yaml
  /reports/{report-id}/pause:
    $ref: paths/reports_{report-id}_pause.yaml
  /reports/{report-id}/print:
    $ref: paths/reports_{report-id}_print.yaml
  /reports/{report-id}/remove-tag:
    $ref: paths/reports_{report-id}_remove-tag.yaml
  /reports/{report-id}/resume:
    $ref: paths/reports_{report-id}_resume.yaml
  /reports/{report-id}/run:
    $ref: paths/reports_{report-id}_run.yaml
  /reports/{report-id}/set-tags:
    $ref: paths/reports_{report-id}_set-tags.yaml
  /transactions:
    $ref: paths/transactions.yaml
  /transactions/{transaction-id}:
    $ref: paths/transactions_{transaction-id}.yaml
  /transactions/{transaction-id}/add-tag:
    $ref: paths/transactions_{transaction-id}_add-tag.yaml
  /transactions/{transaction-id}/label:
    $ref: paths/transactions_{transaction-id}_label.yaml
  /transactions/{transaction-id}/remove-tag:
    $ref: paths/transactions_{transaction-id}_remove-tag.yaml
  /transactions/{transaction-id}/set-tags:
    $ref: paths/transactions_{transaction-id}_set-tags.yaml
  /user-audit-logs:
    $ref: paths/user-audit-logs.yaml
  /user-audit-logs/{user-audit-log-id}:
    $ref: paths/user-audit-logs_{user-audit-log-id}.yaml
  /verification/database-phone-carriers:
    $ref: paths/verification_database-phone-carriers.yaml
  /verification/database-phone-carriers/{verification-id}:
    $ref: paths/verification_database-phone-carriers_{verification-id}.yaml
  /verification/database-phone-carriers/{verification-id}/submit:
    $ref: paths/verification_database-phone-carriers_{verification-id}_submit.yaml
  /verification/database-serpros:
    $ref: paths/verification_database-serpros.yaml
  /verification/database-serpros/{verification-id}:
    $ref: paths/verification_database-serpros_{verification-id}.yaml
  /verification/database-serpros/{verification-id}/submit:
    $ref: paths/verification_database-serpros_{verification-id}_submit.yaml
  /verification/database-standards:
    $ref: paths/verification_database-standards.yaml
  /verification/database-standards/{verification-id}:
    $ref: paths/verification_database-standards_{verification-id}.yaml
  /verification/database-standards/{verification-id}/submit:
    $ref: paths/verification_database-standards_{verification-id}_submit.yaml
  /verification/database-tins:
    $ref: paths/verification_database-tins.yaml
  /verification/database-tins/{verification-id}:
    $ref: paths/verification_database-tins_{verification-id}.yaml
  /verification/database-tins/{verification-id}/submit:
    $ref: paths/verification_database-tins_{verification-id}_submit.yaml
  /verification/databases:
    $ref: paths/verification_databases.yaml
  /verification/databases/{verification-id}:
    $ref: paths/verification_databases_{verification-id}.yaml
  /verification/databases/{verification-id}/submit:
    $ref: paths/verification_databases_{verification-id}_submit.yaml
  /verification/documents:
    $ref: paths/verification_documents.yaml
  /verification/documents/{verification-id}:
    $ref: paths/verification_documents_{verification-id}.yaml
  /verification/documents/{verification-id}/submit:
    $ref: paths/verification_documents_{verification-id}_submit.yaml
  /verification/email-addresses/{verification-id}:
    $ref: paths/verification_email-addresses_{verification-id}.yaml
  /verification/email-addresses:
    $ref: paths/verification_email-addresses.yaml
  /verification/email-addresses/{verification-id}/confirm:
    $ref: paths/verification_email-addresses_{verification-id}_confirm.yaml
  /verification/email-addresses/{verification-id}/send-confirmation-code:
    $ref: >-
      paths/verification_email-addresses_{verification-id}_send-confirmation-code.yaml
  /verification/government-ids:
    $ref: paths/verification_government-ids.yaml
  /verification/government-ids/{verification-id}:
    $ref: paths/verification_government-ids_{verification-id}.yaml
  /verification/government-ids/{verification-id}/submit:
    $ref: paths/verification_government-ids_{verification-id}_submit.yaml
  /verification/government-id-nfcs/{verification-id}:
    $ref: paths/verification_government-id-nfcs_{verification-id}.yaml
  /verification/phone-numbers:
    $ref: paths/verification_phone-numbers.yaml
  /verification/phone-numbers/{verification-id}:
    $ref: paths/verification_phone-numbers_{verification-id}.yaml
  /verification/phone-numbers/{verification-id}/confirm:
    $ref: paths/verification_phone-numbers_{verification-id}_confirm.yaml
  /verification/phone-numbers/{verification-id}/send-confirmation-code:
    $ref: >-
      paths/verification_phone-numbers_{verification-id}_send-confirmation-code.yaml
  /verification/selfies:
    $ref: paths/verification_selfies.yaml
  /verification/selfies/{verification-id}:
    $ref: paths/verification_selfies_{verification-id}.yaml
  /verification/selfies/{verification-id}/submit:
    $ref: paths/verification_selfies_{verification-id}_submit.yaml
  /verifications/{verification-id}:
    $ref: paths/verifications_{verification-id}.yaml
  /verifications/{verification-id}/print:
    $ref: paths/verifications_{verification-id}_print.yaml
  /workflows/{workflow-id}/trigger:
    $ref: paths/workflows_{workflow-id}_trigger.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      x-bearer-format: bearer
x-readme:
  explorer-enabled: true
  headers:
    - key: Persona-Version
      value: '2023-01-05'
  proxy-enabled: true
  samples-enabled: true
x-readme-fauxas: true
