{
  "openapi": "3.1.0",
  "info": {
    "title": "Persona API Reference",
    "version": "2023-01-05",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "name": "Persona Support",
      "url": "https://help.withpersona.com/",
      "email": "support@withpersona.com"
    }
  },
  "servers": [
    {
      "url": "https://withpersona.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Interact with Persona Account objects"
    },
    {
      "name": "API Keys",
      "description": "Interact with your organization's API keys"
    },
    {
      "name": "API Logs",
      "description": "View your organization's API logs"
    },
    {
      "name": "Cases",
      "description": "Interact with Persona Case objects"
    },
    {
      "name": "Documents",
      "description": "Interact with Persona Document objects"
    },
    {
      "name": "Events",
      "description": "Endpoints for viewing your organization's events"
    },
    {
      "name": "Importers",
      "description": "Import external data as corresponding objects within Persona"
    },
    {
      "name": "Inquiries",
      "description": "Interact with Persona Inquiry objects"
    },
    {
      "name": "Inquiry Sessions",
      "description": "Interact with Persona Inquiry Session objects"
    },
    {
      "name": "List Items",
      "description": "Interact with Persona List Item objects"
    },
    {
      "name": "Lists",
      "description": "Interact with Persona List objects"
    },
    {
      "name": "OAuth",
      "description": "Share access to a Persona object with another organization"
    },
    {
      "name": "Reports",
      "description": "Interact with Persona Report objects"
    },
    {
      "name": "Transactions",
      "description": "Interact with Persona Transaction objects"
    },
    {
      "name": "User Audit Logs",
      "description": "View your organization's User Audit logs"
    },
    {
      "name": "Verifications",
      "description": "Interact with Persona Verification objects"
    },
    {
      "name": "Phone Carrier Database Verifications",
      "description": "Interact with Phone Carrier Database Verifications"
    },
    {
      "name": "Serpro Database Verifications",
      "description": "Interact with Serpro Database Verifications"
    },
    {
      "name": "TIN Database Verifications",
      "description": "Interact with TIN Database Verifications"
    },
    {
      "name": "Database Verifications",
      "description": "Interact with Database Verifications"
    },
    {
      "name": "Document Verifications",
      "description": "Interact with Document Verifications"
    },
    {
      "name": "Email Address Verifications",
      "description": "Interact with Email Address Verifications"
    },
    {
      "name": "Government ID Verifications",
      "description": "Interact with Government ID Verifications"
    },
    {
      "name": "Phone Number Verifications",
      "description": "Interact with Phone Number Verifications"
    },
    {
      "name": "Selfie Verifications",
      "description": "Interact with Selfie Verifications"
    },
    {
      "name": "Workflows",
      "description": "Interact with Persona Workflow objects"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "Returns a list of your organization's <<glossary:account>>(s).",
        "operationId": "list-all-accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "Account ID for cursor pagination",
            "in": "query",
            "name": "page[before]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account ID for cursor pagination",
            "in": "query",
            "name": "page[after]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit on the number of accounts returned",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter accounts by reference ID",
            "in": "query",
            "name": "filter[reference-id]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "type": "account",
                          "id": "act_ef2mUFHAejxf2XJ5qzU4uMQb",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2020-01-02T17:42:27.000Z",
                            "updated-at": "2020-01-02T18:06:41.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_YcNZJLxuwEuV8jUPbykYQyXG",
                          "attributes": {
                            "reference-id": "Mike's test",
                            "created-at": "2019-12-19T21:42:49.000Z",
                            "updated-at": "2019-12-19T21:42:49.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_2wM8yufwLrbMV6kUtGPBxeGS",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-18T22:43:03.000Z",
                            "updated-at": "2019-12-18T22:43:03.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_LatvE1PdVhfiwcJWVLj4Z25j",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-13T08:34:10.000Z",
                            "updated-at": "2019-12-13T08:34:10.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_RU3JgzXaAzVV2g2NYLd7ub12",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-13T08:32:49.000Z",
                            "updated-at": "2019-12-13T08:33:29.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_Eoe14YQ7efbiH73zkTFAkveB",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-12T20:50:55.000Z",
                            "updated-at": "2019-12-12T20:50:55.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_X5LmoEaYASq3ahQmRRTpMG1t",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-12-05T20:56:43.000Z",
                            "updated-at": "2019-12-05T20:56:43.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_6LRELcKmPcx9MxYGk6mdCPJo",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-11-19T00:10:27.000Z",
                            "updated-at": "2019-11-19T00:10:27.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_1bRzHZSH17PpXCCnMGoYhzde",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-11-18T17:38:03.000Z",
                            "updated-at": "2019-11-18T17:38:03.000Z"
                          }
                        },
                        {
                          "type": "account",
                          "id": "act_u2Dgz8U3CmxTVgqEH9qzezHi",
                          "attributes": {
                            "reference-id": null,
                            "created-at": "2019-11-15T22:14:41.000Z",
                            "updated-at": "2019-11-15T22:14:41.000Z"
                          }
                        }
                      ],
                      "links": {
                        "prev": null,
                        "next": "/api/v1/accounts?page%5Bafter%5D=act_u2Dgz8U3CmxTVgqEH9qzezHi"
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      },
                      "type": "array",
                      "description": "An array of Accounts"
                    },
                    "links": {
                      "properties": {
                        "next": {
                          "examples": [
                            "/api/v1/accounts?page%5Bafter%5D=act_u2Dgz8U3CmxTVgqEH9qzezHi"
                          ],
                          "type": "string"
                        },
                        "prev": {}
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "summary": "List all Accounts",
        "tags": [
          "Accounts"
        ]
      },
      "post": {
        "description": "Creates a new Account for your organization.\n\nAfter the Account is created, you can create Inquiries with the `account-id` to attach the Inquiry to it.",
        "operationId": "create-an-account",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "properties": {
                      "attributes": {
                        "properties": {
                          "address-city": {
                            "description": "City of residence address. Not all international addresses use this attribute.",
                            "type": "string"
                          },
                          "address-postal-code": {
                            "description": "ZIP or postal code of residence address. Not all international addresses use this attribute.",
                            "type": "string"
                          },
                          "address-street-1": {
                            "description": "Street name of residence address.",
                            "type": "string"
                          },
                          "address-street-2": {
                            "description": "Extension of residence address, usually apartment or suite number.",
                            "type": "string"
                          },
                          "address-subdivision": {
                            "description": "State or subdivision of residence address. In the US, this should be the unabbreviated name. Not all international addresses use this attribute.",
                            "type": "string"
                          },
                          "birthdate": {
                            "description": "Birthdate, must be in the format \"YYYY-MM-DD\".",
                            "format": "date",
                            "type": "string"
                          },
                          "country-code": {
                            "description": "ISO 3166-1 alpha 2 country code of the government ID to be verified. This is generally their country of residence as well.",
                            "type": "string"
                          },
                          "email-address": {
                            "description": "Email address.",
                            "type": "string"
                          },
                          "name-first": {
                            "description": "Given or first name.",
                            "type": "string"
                          },
                          "name-last": {
                            "description": "Family or last name.",
                            "type": "string"
                          },
                          "name-middle": {
                            "description": "Middle name.",
                            "type": "string"
                          },
                          "phone-number": {
                            "description": "Phone number.",
                            "type": "string"
                          },
                          "reference-id": {
                            "description": "Reference ID on Account, refers to an entity in your user model",
                            "type": "string"
                          },
                          "selfie-photo": {
                            "description": "Selfie photo.",
                            "properties": {
                              "data": {
                                "description": "Selfie photo data, must be an image. Can also be provided as an uploaded file such as with multipart/form-data requests instead of this object.",
                                "properties": {
                                  "data": {
                                    "description": "Base64 encoded image",
                                    "type": "string"
                                  },
                                  "filename": {
                                    "description": "Name of the image",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "social-security-number": {
                            "description": "Social security number.",
                            "type": "string"
                          },
                          "tags": {
                            "default": [],
                            "description": "A list of tag names that are associated to an Account.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Created",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_NN1jBFZu2iLusNFHkU7d58Ui",
                        "attributes": {
                          "reference-id": "user12345",
                          "created-at": "2019-12-11T18:51:15.000Z",
                          "updated-at": "2019-12-11T18:51:15.000Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Conflict",
                    "value": {
                      "errors": [
                        {
                          "title": "Record not unique",
                          "details": "Record not unique."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "details": {
                            "examples": [
                              "Record not unique."
                            ],
                            "type": "string"
                          },
                          "title": {
                            "examples": [
                              "Record not unique"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Create an Account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}": {
      "delete": {
        "description": "Permanently deletes personally identifiable information (PII) for an Account and all associated Inquiries, Verifications and Reports. This action cannot be undone. \n\nThis endpoint can be used to comply with privacy regulations such as GDPR / CCPA or to enforce data privacy.\n\nNote: An account is still updatable after redaction. If you want to delete data continuously, please reach out to us to help you setup a retention policy.",
        "operationId": "redact-an-account",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_Gryv7cVbF2hDyFLKDhAYcqT9",
                        "attributes": {
                          "reference-id": null,
                          "created-at": "2020-04-12T05:08:51.000Z",
                          "updated-at": "2020-04-13T00:23:57.000Z",
                          "name-first": null,
                          "name-middle": null,
                          "name-last": null,
                          "address-street-1": null,
                          "address-street-2": null,
                          "address-city": null,
                          "address-subdivision": null,
                          "address-postal-code": null,
                          "birthdate": null,
                          "social-security-number": null
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Redact an Account",
        "tags": [
          "Accounts"
        ]
      },
      "get": {
        "description": "Retrieve the details of an Account that has previously been created.",
        "operationId": "retrieve-an-account",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_NN1jBFZu2iLusNFHkU7d58Ui",
                        "attributes": {
                          "reference-id": "user12345",
                          "created-at": "2019-12-11T18:51:15.000Z",
                          "updated-at": "2019-12-11T18:51:15.000Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Retrieve an Account",
        "tags": [
          "Accounts"
        ]
      },
      "patch": {
        "description": "Updates an existing Account.",
        "operationId": "update-an-account",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "properties": {
                      "attributes": {
                        "properties": {
                          "address-city": {
                            "description": "City of residence address. Not all international addresses use this attribute.",
                            "type": "string"
                          },
                          "address-postal-code": {
                            "description": "ZIP or postal code of residence address. Not all international addresses use this attribute.",
                            "type": "string"
                          },
                          "address-street-1": {
                            "description": "Street name of residence address.",
                            "type": "string"
                          },
                          "address-street-2": {
                            "description": "Extension of residence address, usually apartment or suite number.",
                            "type": "string"
                          },
                          "address-subdivision": {
                            "description": "State or subdivision of residence address. In the US, this should be the unabbreviated name. Not all international addresses use this attribute.",
                            "type": "string"
                          },
                          "birthdate": {
                            "description": "Birthdate, must be in the format \"YYYY-MM-DD\".",
                            "format": "date",
                            "type": "string"
                          },
                          "country-code": {
                            "description": "ISO 3166-1 alpha 2 country code of the government ID to be verified. This is generally their country of residence as well.",
                            "type": "string"
                          },
                          "email-address": {
                            "description": "Email address.",
                            "type": "string"
                          },
                          "name-first": {
                            "description": "Given or first name.",
                            "type": "string"
                          },
                          "name-last": {
                            "description": "Family or last name.",
                            "type": "string"
                          },
                          "name-middle": {
                            "description": "Middle name.",
                            "type": "string"
                          },
                          "phone-number": {
                            "description": "Phone number.",
                            "type": "string"
                          },
                          "reference-id": {
                            "description": "Reference ID on Account, refers to an entity in your user model.",
                            "type": "string"
                          },
                          "selfie-photo": {
                            "description": "Selfie photo.",
                            "properties": {
                              "data": {
                                "description": "Selfie photo data, must be an image. Can also be provided as an uploaded file such as with multipart/form-data requests instead of this object.",
                                "properties": {
                                  "data": {
                                    "description": "Base64 encoded image",
                                    "type": "string"
                                  },
                                  "filename": {
                                    "description": "Name of the image",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "social-security-number": {
                            "description": "Social security number.",
                            "type": "string"
                          },
                          "tags": {
                            "default": [],
                            "description": "A list of tag names that are associated to an Account.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_NN1jBFZu2iLusNFHkU7d58Ui",
                        "attributes": {
                          "reference-id": "user12345",
                          "created-at": "2019-12-11T18:51:15.000Z",
                          "updated-at": "2019-12-11T18:51:15.000Z",
                          "tags": []
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Conflict",
                    "value": {
                      "errors": [
                        {
                          "title": "Record not unique",
                          "details": "Record not unique."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "details": {
                            "examples": [
                              "Record not unique."
                            ],
                            "type": "string"
                          },
                          "title": {
                            "examples": [
                              "Record not unique"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Update an Account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/add-tag": {
      "post": {
        "description": "Add a new tag to an Account",
        "operationId": "accounts-add-tag",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_NN1jBFZu2iLusNFHkU7d58Ui",
                        "attributes": {
                          "reference-id": "user12345",
                          "created-at": "2019-12-11T18:51:15.000Z",
                          "updated-at": "2019-12-11T18:51:15.000Z",
                          "tags": [
                            "BAD ACTOR"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Add a tag",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/consolidate": {
      "post": {
        "description": "Consolidates several source Accounts' information into one target Account. Any Inquiry, Verification, Report and Document associated with the source Account will be transferred over to the destination Account. However, the Account's attributes will not be transferred. After consolidation, you can update the destination Account's attributes using the Account update endpoint.\n\nThis endpoint can be used to clean up duplicate Accounts.\n\nNote: A source account can only be consolidated once. Afterwards, the source account will be archived.",
        "operationId": "consolidate-into-an-account",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "Destination Account ID",
            "in": "path",
            "name": "account-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "source-account-ids": {
                        "default": [],
                        "description": "A list of Account IDs that need to be consolidated into the destination Account.",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Accepted",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_BygphFap8KvaBzCYZ14neoUq",
                        "attributes": {
                          "reference-id": "user12345",
                          "created-at": "2019-12-11T18:51:15.000Z",
                          "updated-at": "2019-12-11T18:51:15.000Z",
                          "tags": []
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Consolidate Accounts",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/remove-tag": {
      "post": {
        "description": "Removes an existing tag from an Account",
        "operationId": "accounts-remove-tag",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_NN1jBFZu2iLusNFHkU7d58Ui",
                        "attributes": {
                          "reference-id": "user12345",
                          "created-at": "2019-12-11T18:51:15.000Z",
                          "updated-at": "2019-12-11T18:51:15.000Z",
                          "tags": [
                            "BAD ACTOR"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Remove a tag",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account-id}/set-tags": {
      "post": {
        "description": "Set all tags on an Account. Note that this removes any tags that are not provided.",
        "operationId": "accounts-set-all-tags",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "tag-name": {
                        "default": [],
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "account",
                        "id": "act_NN1jBFZu2iLusNFHkU7d58Ui",
                        "attributes": {
                          "reference-id": "user12345",
                          "created-at": "2019-12-11T18:51:15.000Z",
                          "updated-at": "2019-12-11T18:51:15.000Z",
                          "tags": [
                            "BAD ACTOR"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Set all tags",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/api-keys": {
      "get": {
        "description": "Returns a list of your organization's API keys.",
        "operationId": "list-all-api-keys",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "APK key ID for pagination cursor",
            "in": "query",
            "name": "page[after]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "APK key ID for pagination cursor",
            "in": "query",
            "name": "page[before]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit on the number of APK keys returned (between 1 and 100)",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter APK keys by name",
            "in": "query",
            "name": "filter[name]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "type": "api-key",
                          "id": "api_eENJtyj61qWGLWCd2X7vHyAf",
                          "attributes": {
                            "name": null,
                            "note": null,
                            "api-version": "2021-07-05",
                            "api-key-inflection": "kebab",
                            "permissions": [
                              "account.read",
                              "account.write",
                              "api_log.read",
                              "..."
                            ],
                            "api-attributes-allowlist": [
                              "address_*",
                              "allowed_users",
                              "..."
                            ],
                            "ip-address-allowlist": [
                              "*"
                            ],
                            "last-used-at": "2022-08-17T23:24:00.000Z",
                            "expires-at": null,
                            "created-at": "2022-08-17T23:18:13.000Z"
                          }
                        }
                      ],
                      "links": {
                        "prev": null,
                        "next": null
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "attributes": {
                            "properties": {
                              "api-attributes-allowlist": {
                                "items": {
                                  "examples": [
                                    "address_*"
                                  ],
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "api-key-inflection": {
                                "examples": [
                                  "kebab"
                                ],
                                "type": "string"
                              },
                              "api-version": {
                                "examples": [
                                  "2021-07-05"
                                ],
                                "type": "string"
                              },
                              "created-at": {
                                "examples": [
                                  "2022-08-17T23:18:13.000Z"
                                ],
                                "type": "string"
                              },
                              "expires-at": {},
                              "ip-address-allowlist": {
                                "items": {
                                  "examples": [
                                    "*"
                                  ],
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "last-used-at": {
                                "examples": [
                                  "2022-08-17T23:24:00.000Z"
                                ],
                                "type": "string"
                              },
                              "name": {},
                              "note": {},
                              "permissions": {
                                "items": {
                                  "examples": [
                                    "account.read"
                                  ],
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "id": {
                            "examples": [
                              "api_eENJtyj61qWGLWCd2X7vHyAf"
                            ],
                            "type": "string"
                          },
                          "type": {
                            "examples": [
                              "api-key"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "links": {
                      "properties": {
                        "next": {},
                        "prev": {}
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "summary": "List all API keys",
        "tags": [
          "API Keys"
        ]
      },
      "post": {
        "description": "Make a new API key with response defaults and permissions.",
        "operationId": "create-an-api-key",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "properties": {
                      "attributes": {
                        "properties": {
                          "api-attributes-allowlist": {
                            "default": [],
                            "description": "Attributes returned from API responses",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "api-key-inflection": {
                            "description": "Default API response key inflection",
                            "type": "string"
                          },
                          "api-version": {
                            "description": "Server API version",
                            "type": "string"
                          },
                          "ip-address-allowlist": {
                            "default": [],
                            "description": "IP addresses permitted for use by the API key",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "name": {
                            "description": "Human-readable name of the API key",
                            "type": "string"
                          },
                          "note": {
                            "description": "Human readable context about the use of the API key",
                            "type": "string"
                          },
                          "permissions": {
                            "default": [],
                            "description": "Abilities permitted to the API key",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Created",
                    "value": {
                      "data": {
                        "type": "api-key",
                        "id": "api_eENJtyj61qWGLWCd2X7vHyAf",
                        "attributes": {
                          "name": null,
                          "note": null,
                          "value": "persona_sandbox_1234abcd-56ef-ab78-90cd-1234567890ab",
                          "api-version": "2021-07-05",
                          "api-key-inflection": "kebab",
                          "permissions": [
                            "account.read",
                            "account.write",
                            "api_log.read",
                            "..."
                          ],
                          "api-attributes-allowlist": [
                            "address_*",
                            "allowed_users",
                            "..."
                          ],
                          "ip-address-allowlist": [
                            "*"
                          ],
                          "last-used-at": "2022-08-17T23:44:00.000Z",
                          "expires-at": null,
                          "created-at": "2022-08-17T23:18:13.000Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "attributes": {
                          "properties": {
                            "api-attributes-allowlist": {
                              "items": {
                                "examples": [
                                  "address_*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "api-key-inflection": {
                              "examples": [
                                "kebab"
                              ],
                              "type": "string"
                            },
                            "api-version": {
                              "examples": [
                                "2021-07-05"
                              ],
                              "type": "string"
                            },
                            "created-at": {
                              "examples": [
                                "2022-08-17T23:18:13.000Z"
                              ],
                              "type": "string"
                            },
                            "expires-at": {},
                            "ip-address-allowlist": {
                              "items": {
                                "examples": [
                                  "*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "last-used-at": {
                              "examples": [
                                "2022-08-17T23:44:00.000Z"
                              ],
                              "type": "string"
                            },
                            "name": {},
                            "note": {},
                            "permissions": {
                              "items": {
                                "examples": [
                                  "account.read"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "value": {
                              "examples": [
                                "persona_sandbox_1234abcd-56ef-ab78-90cd-1234567890ab"
                              ],
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "id": {
                          "examples": [
                            "api_eENJtyj61qWGLWCd2X7vHyAf"
                          ],
                          "type": "string"
                        },
                        "type": {
                          "examples": [
                            "api-key"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Create an API key",
        "tags": [
          "API Keys"
        ]
      }
    },
    "/api-keys/{api-key-id}": {
      "get": {
        "description": "Get the information for a specific API key, including it's value.",
        "operationId": "retrieve-an-api-key",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "API key's ID (starts with \"api_\")",
            "in": "path",
            "name": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "api-key",
                        "id": "api_eENJtyj61qWGLWCd2X7vHyAf",
                        "attributes": {
                          "name": null,
                          "note": null,
                          "value": "persona_sandbox_1234abcd-56ef-ab78-90cd-1234567890ab",
                          "api-version": "2021-07-05",
                          "api-key-inflection": "kebab",
                          "permissions": [
                            "account.read",
                            "account.write",
                            "api_log.read",
                            "..."
                          ],
                          "api-attributes-allowlist": [
                            "address_*",
                            "allowed_users",
                            "..."
                          ],
                          "ip-address-allowlist": [
                            "*"
                          ],
                          "last-used-at": "2022-08-17T23:44:00.000Z",
                          "expires-at": null,
                          "created-at": "2022-08-17T23:18:13.000Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "attributes": {
                          "properties": {
                            "api-attributes-allowlist": {
                              "items": {
                                "examples": [
                                  "address_*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "api-key-inflection": {
                              "examples": [
                                "kebab"
                              ],
                              "type": "string"
                            },
                            "api-version": {
                              "examples": [
                                "2021-07-05"
                              ],
                              "type": "string"
                            },
                            "created-at": {
                              "examples": [
                                "2022-08-17T23:18:13.000Z"
                              ],
                              "type": "string"
                            },
                            "expires-at": {},
                            "ip-address-allowlist": {
                              "items": {
                                "examples": [
                                  "*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "last-used-at": {
                              "examples": [
                                "2022-08-17T23:44:00.000Z"
                              ],
                              "type": "string"
                            },
                            "name": {},
                            "note": {},
                            "permissions": {
                              "items": {
                                "examples": [
                                  "account.read"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "value": {
                              "examples": [
                                "persona_sandbox_1234abcd-56ef-ab78-90cd-1234567890ab"
                              ],
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "id": {
                          "examples": [
                            "api_eENJtyj61qWGLWCd2X7vHyAf"
                          ],
                          "type": "string"
                        },
                        "type": {
                          "examples": [
                            "api-key"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "summary": "Retrieve an API key",
        "tags": [
          "API Keys"
        ]
      },
      "patch": {
        "description": "Make a new API key with response defaults and permissions.",
        "operationId": "update-an-api-key",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "API key's ID (starts with \"api_\")",
            "in": "path",
            "name": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "properties": {
                      "attributes": {
                        "properties": {
                          "api-attributes-allowlist": {
                            "default": [],
                            "description": "Attributes returned from API responses",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "api-key-inflection": {
                            "description": "Default API response key inflection",
                            "type": "string"
                          },
                          "api-version": {
                            "description": "Server API version",
                            "type": "string"
                          },
                          "ip-address-allowlist": {
                            "default": [],
                            "description": "IP addresses permitted for use by the API key",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "name": {
                            "description": "Human-readable name of the API key",
                            "type": "string"
                          },
                          "note": {
                            "description": "Human readable context about the use of the API key",
                            "type": "string"
                          },
                          "permissions": {
                            "default": [],
                            "description": "Abilities permitted to the API key",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "api-key",
                        "id": "api_eENJtyj61qWGLWCd2X7vHyAf",
                        "attributes": {
                          "name": null,
                          "note": null,
                          "value": null,
                          "api-version": "2021-07-05",
                          "api-key-inflection": "kebab",
                          "permissions": [
                            "account.read",
                            "account.write",
                            "api_log.read",
                            "..."
                          ],
                          "api-attributes-allowlist": [
                            "address_*",
                            "allowed_users",
                            "..."
                          ],
                          "ip-address-allowlist": [
                            "*"
                          ],
                          "last-used-at": "2022-08-17T23:44:00.000Z",
                          "expires-at": null,
                          "created-at": "2022-08-17T23:18:13.000Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "attributes": {
                          "properties": {
                            "api-attributes-allowlist": {
                              "items": {
                                "examples": [
                                  "address_*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "api-key-inflection": {
                              "examples": [
                                "kebab"
                              ],
                              "type": "string"
                            },
                            "api-version": {
                              "examples": [
                                "2021-07-05"
                              ],
                              "type": "string"
                            },
                            "created-at": {
                              "examples": [
                                "2022-08-17T23:18:13.000Z"
                              ],
                              "type": "string"
                            },
                            "expires-at": {},
                            "ip-address-allowlist": {
                              "items": {
                                "examples": [
                                  "*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "last-used-at": {
                              "examples": [
                                "2022-08-17T23:44:00.000Z"
                              ],
                              "type": "string"
                            },
                            "name": {},
                            "note": {},
                            "permissions": {
                              "items": {
                                "examples": [
                                  "account.read"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "value": {}
                          },
                          "type": "object"
                        },
                        "id": {
                          "examples": [
                            "api_eENJtyj61qWGLWCd2X7vHyAf"
                          ],
                          "type": "string"
                        },
                        "type": {
                          "examples": [
                            "api-key"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Update an API key",
        "tags": [
          "API Keys"
        ]
      }
    },
    "/api-keys/{api-key-id}/expire": {
      "post": {
        "description": "Deactivate an API key within some time period",
        "operationId": "expire-an-api-key",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "API key's ID (starts with \"api_\")",
            "in": "path",
            "name": "api-key-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "meta": {
                    "properties": {
                      "expires-in-seconds": {
                        "description": "Number of seconds from now to expire the key (max of 30 days)",
                        "type": "string"
                      }
                    },
                    "required": [
                      "expires-in-seconds"
                    ],
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "api-key",
                        "id": "api_eENJtyj61qWGLWCd2X7vHyAf",
                        "attributes": {
                          "name": null,
                          "note": null,
                          "value": null,
                          "api-version": "2021-07-05",
                          "api-key-inflection": "kebab",
                          "permissions": [
                            "account.read",
                            "account.write",
                            "api_log.read",
                            "..."
                          ],
                          "api-attributes-allowlist": [
                            "address_*",
                            "allowed_users",
                            "..."
                          ],
                          "ip-address-allowlist": [
                            "*"
                          ],
                          "last-used-at": "2022-08-17T23:44:00.000Z",
                          "expires-at": "2022-08-17T23:45:00.000Z",
                          "created-at": "2022-08-17T23:18:13.000Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "attributes": {
                          "properties": {
                            "api-attributes-allowlist": {
                              "items": {
                                "examples": [
                                  "address_*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "api-key-inflection": {
                              "examples": [
                                "kebab"
                              ],
                              "type": "string"
                            },
                            "api-version": {
                              "examples": [
                                "2021-07-05"
                              ],
                              "type": "string"
                            },
                            "created-at": {
                              "examples": [
                                "2022-08-17T23:18:13.000Z"
                              ],
                              "type": "string"
                            },
                            "expires-at": {
                              "examples": [
                                "2022-08-17T23:45:00.000Z"
                              ],
                              "type": "string"
                            },
                            "ip-address-allowlist": {
                              "items": {
                                "examples": [
                                  "*"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "last-used-at": {
                              "examples": [
                                "2022-08-17T23:44:00.000Z"
                              ],
                              "type": "string"
                            },
                            "name": {},
                            "note": {},
                            "permissions": {
                              "items": {
                                "examples": [
                                  "account.read"
                                ],
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "value": {}
                          },
                          "type": "object"
                        },
                        "id": {
                          "examples": [
                            "api_eENJtyj61qWGLWCd2X7vHyAf"
                          ],
                          "type": "string"
                        },
                        "type": {
                          "examples": [
                            "api-key"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "summary": "Expire an API key",
        "tags": [
          "API Keys"
        ]
      }
    },
    "/api-logs": {
      "get": {
        "description": "Returns a list of your organization's API Logs.",
        "operationId": "list-all-api-logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "API Log ID for cursor pagination",
            "in": "query",
            "name": "page[before]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API Log ID for cursor pagination",
            "in": "query",
            "name": "page[after]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit on the number of API Logs returned",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "type": "api-log",
                          "id": "req_RskjUrFJFJq4432DUFvV9CeJ",
                          "attributes": {
                            "request": {
                              "method": "GET",
                              "path": "/api/v1/inquiries",
                              "headers": {
                                "Authorization": "Bearer persona_production_61bd73de-ce28-****-****-************"
                              },
                              "get-params": {
                                "filter": {
                                  "reference_id": "random-id"
                                }
                              },
                              "post-params": {},
                              "ip-address": "127.0.0.1"
                            },
                            "response": {
                              "status": 200,
                              "headers": {
                                "Request-Id": "req-12345"
                              },
                              "body": []
                            },
                            "created-at": "2018-06-01T00:00:00.000+00:00"
                          }
                        },
                        {
                          "type": "api-log",
                          "id": "req_79BnM1kYUdEfqaGoDR7HbVQV",
                          "attributes": {
                            "request": {
                              "method": "GET",
                              "path": "/api/v1/inquiries",
                              "headers": {
                                "Authorization": "Bearer persona_production_61bd73de-ce28-****-****-************"
                              },
                              "get-params": {
                                "filter": {
                                  "reference_id": "random-id"
                                }
                              },
                              "post-params": {},
                              "ip-address": "127.0.0.1"
                            },
                            "response": {
                              "status": 200,
                              "headers": {
                                "Request-Id": "req-12345"
                              },
                              "body": []
                            },
                            "created-at": "2018-06-01T00:00:00.000+00:00"
                          }
                        },
                        {
                          "type": "api-log",
                          "id": "req_5BTqhvz3RdYAERuHuWf5oLZY",
                          "attributes": {
                            "request": {
                              "method": "GET",
                              "path": "/api/v1/inquiries",
                              "headers": {
                                "Authorization": "Bearer persona_production_61bd73de-ce28-****-****-************"
                              },
                              "get-params": {
                                "filter": {
                                  "reference_id": "random-id"
                                }
                              },
                              "post-params": {},
                              "ip-address": "127.0.0.1"
                            },
                            "response": {
                              "status": 200,
                              "headers": {
                                "Request-Id": "req-12345"
                              },
                              "body": []
                            },
                            "created-at": "2018-06-01T00:00:00.000+00:00"
                          }
                        },
                        {
                          "type": "api-log",
                          "id": "req_JW4o7dSykgPk69d4xXQWtqdi",
                          "attributes": {
                            "request": {
                              "method": "GET",
                              "path": "/api/v1/inquiries",
                              "headers": {
                                "Authorization": "Bearer persona_production_61bd73de-ce28-****-****-************"
                              },
                              "get-params": {
                                "filter": {
                                  "reference_id": "random-id"
                                }
                              },
                              "post-params": {},
                              "ip-address": "127.0.0.1"
                            },
                            "response": {
                              "status": 200,
                              "headers": {
                                "Request-Id": "req-12345"
                              },
                              "body": []
                            },
                            "created-at": "2018-06-01T00:00:00.000+00:00"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "summary": "List all API Logs",
        "tags": [
          "API Logs"
        ]
      }
    },
    "/api-logs/{api-log-id}": {
      "get": {
        "description": "Retrieve the details of an API Log that has previously been created.",
        "operationId": "retrieve-an-api-log",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "name": "api-log-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "type": "api-log",
                        "id": "req_79BnM1kYUdEfqaGoDR7HbVQV",
                        "attributes": {
                          "request": {
                            "method": "GET",
                            "path": "/api/v1/inquiries",
                            "headers": {
                              "Authorization": "Bearer persona_production_61bd73de-ce28-****-****-************"
                            },
                            "get-params": {
                              "filter": {
                                "reference_id": "random-id"
                              }
                            },
                            "post-params": {},
                            "ip-address": "127.0.0.1"
                          },
                          "response": {
                            "status": 200,
                            "headers": {
                              "Request-Id": "req-12345"
                            },
                            "body": []
                          },
                          "created-at": "2018-06-01T00:00:00.000+00:00"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "attributes": {
                          "properties": {
                            "created-at": {
                              "examples": [
                                "2018-06-01T00:00:00.000+00:00"
                              ],
                              "type": "string"
                            },
                            "request": {
                              "properties": {
                                "get-params": {
                                  "properties": {
                                    "filter": {
                                      "properties": {
                                        "reference_id": {
                                          "examples": [
                                            "random-id"
                                          ],
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    }
                                  },
                                  "type": "object"
                                },
                                "headers": {
                                  "properties": {
                                    "Authorization": {
                                      "examples": [
                                        "Bearer persona_production_61bd73de-ce28-****-****-************"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "ip-address": {
                                  "examples": [
                                    "127.0.0.1"
                                  ],
                                  "type": "string"
                                },
                                "method": {
                                  "examples": [
                                    "GET"
                                  ],
                                  "type": "string"
                                },
                                "path": {
                                  "examples": [
                                    "/api/v1/inquiries"
                                  ],
                                  "type": "string"
                                },
                                "post-params": {
                                  "properties": {},
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            },
                            "response": {
                              "properties": {
                                "body": {
                                  "type": "array"
                                },
                                "headers": {
                                  "properties": {
                                    "Request-Id": {
                                      "examples": [
                                        "req-12345"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "status": {
                                  "default": 0,
                                  "examples": [
                                    200
                                  ],
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        "id": {
                          "examples": [
                            "req_79BnM1kYUdEfqaGoDR7HbVQV"
                          ],
                          "type": "string"
                        },
                        "type": {
                          "examples": [
                            "api-log"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Retrieve an API Log",
        "tags": [
          "API Logs"
        ]
      }
    },
    "/cases": {
      "get": {
        "description": "Returns a list of your organization's cases.\nNote that this endpoint aggregates cases across all <<glossary:case template>>(s). See [Pagination](ref:pagination) for more details about handling the response.",
        "operationId": "list-all-cases",
        "parameters": [
          {
            "$ref": "#/components/parameters/keyInflectionHeader"
          },
          {
            "$ref": "#/components/parameters/idempotencyKeyHeader"
          },
          {
            "$ref": "#/components/parameters/personaVersionHeader"
          },
          {
            "description": "Case ID for pagination cursor",
            "in": "query",
            "name": "page[after]",
            "schema": {
              "examples": [
                "case_8xQDgDj6jsuLNnViw6aMfF8e"
              ],
              "type": "string"
            }
          },
          {
            "description": "Case ID for pagination cursor",
            "in": "query",
            "name": "page[before]",
            "schema": {
              "examples": [
                "case_8xQDgDj6jsuLNnViw6aMfF8e"
              ],
              "type": "string"
            }
          },
          {
            "description": "Limit on the number of cases returned",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "examples": [
                5
              ],
              "type": "number"
            }
          },
          {
            "description": "Filter cases by status",
            "in": "query",
            "name": "filter[status]",
            "schema": {
              "examples": [
                "Open"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter cases by resolution",
            "in": "query",
            "name": "filter[resolution]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter cases by case template ID",
            "in": "query",
            "name": "filter[case-template-id]",
            "schema": {
              "examples": [
                "ctmpl_w21x2KztVgtVo1s4KLE9qgT0"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter cases by account ID",
            "in": "query",
            "name": "filter[account-id]",
            "schema": {
              "examples": [
                "act_1NHbL5FRJCNSkCk5aafkf7D2"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter cases by inquiry ID",
            "in": "query",
            "name": "filter[inquiry-id]",
            "schema": {
              "examples": [
                "inq_03SGjN6k3ytL8XdeM1pt4Qc1"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter cases by report ID",
            "in": "query",
            "name": "filter[report-id]",
            "schema": {
              "examples": [
                "rep_018wqARjx7eBMNHoZvypgFv1"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "type": "case",
                          "id": "case_KsFU1Vxv9oK3ztnwQuD7MaJo",
                          "attributes": {
                            "status": "open",
                            "name": "KCAS-1",
                            "resolution": null,
                            "created-at": "2021-03-24T04:59:21.764Z",
                            "updated-at": "2021-03-24T04:59:21.764Z",
                            "assigned-at": null,
                            "resolved-at": null,
                            "redacted-at": null,
                            "creator-id": "case_creator@withpersona.com",
                            "creator-type": "user",
                            "assignee-id": "case_assignee@withpersona.com",
                            "resolver-id": null,
                            "resolver-type": null,
                            "updater-id": "case_updater@withpersona.com",
                            "updater-type": "user",
                            "tags": [],
                            "fields": {}
                          },
                          "relationships": {
                            "case-template": {
                              "data": {
                                "type": "case-template",
                                "id": "ctmpl_336jV1uVaaY84GAqvG91oiy9"
                              }
                            },
                            "case-comments": {
                              "data": []
                            },
                            "accounts": {
                              "data": []
                            },
                            "inquiries": {
                              "data": [
                                {
                                  "type": "inquiry",
                                  "id": "inq_eGK41TM6GjcZgdcoox7x8Hh0"
                                }
                              ]
                            },
                            "reports": {
[...]
