openapi: 3.1.0
info:
  title: Persona API Reference
  version: '2023-01-05'
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  contact:
    name: Persona Support
    url: 'https://help.withpersona.com/'
    email: support@withpersona.com
servers:
  - url: 'https://api.withpersona.com/api/v1'
security:
  - bearerAuth: []
tags:
  - name: Accounts
    description: Interact with Persona Account objects
  - name: API Keys
    description: Interact with your organization's API keys
  - name: API Logs
    description: View your organization's API logs
  - name: Cases
    description: Interact with Persona Case objects
  - name: Devices
    description: Interact with Persona Device objects
  - name: Documents
    description: Interact with Persona Document objects
  - name: Events
    description: Endpoints for viewing your organization's events
  - name: Importers
    description: Import external data as corresponding objects within Persona
  - name: Inquiries
    description: Interact with Persona Inquiry objects
  - name: Inquiry Sessions
    description: Interact with Persona Inquiry Session objects
  - name: Inquiry Templates
    description: Interact with Persona Inquiry Template objects
  - name: List Items
    description: Interact with Persona List Item objects
  - name: Lists
    description: Interact with Persona List objects
  - name: OAuth
    description: Share access to a Persona object with another organization
  - name: Rate Limits
    description: Interact with Rate Limits via API
  - name: Reports
    description: Interact with Persona Report objects
  - name: Transactions
    description: Interact with Persona Transaction objects
  - name: User Audit Logs
    description: View your organization's User Audit logs
  - name: Verifications
    description: Interact with Persona Verification objects
  - name: AAMVA Verifications
    description: Interact with AAMVA Verifications
  - name: eCBSV Database Verifications
    description: Interact with eCBSV Database Verifications
  - name: Phone Carrier Database Verifications
    description: Interact with Phone Carrier Database Verifications
  - name: Serpro Database Verifications
    description: Interact with Serpro Database Verifications
  - name: TIN Database Verifications
    description: Interact with TIN Database Verifications
  - name: Database Verifications
    description: Interact with Database Verifications
  - name: Database Standard Verifications
    description: Interact with Database Standard Verifications
  - name: Database Business Verifications
    description: Interact with Database Business Verifications
  - name: Document Verifications
    description: Interact with Document Verifications
  - name: Email Address Verifications
    description: Interact with Email Address Verifications
  - name: Government ID Verifications
    description: Interact with Government ID Verifications
  - name: Phone Number Verifications
    description: Interact with Phone Number Verifications
  - name: Selfie Verifications
    description: Interact with Selfie Verifications
  - name: Webhooks
    description: Interact with Webhooks via API
  - name: Workflows
    description: Interact with Persona Workflow objects
externalDocs:
  description: Full API documentation on the Persona website
  url: 'https://docs.withpersona.com/api-reference/'
paths:
  /accounts:
    get:
      description: 'Returns a list of your organization''s account(s). Results are returned in reverse chronological order, with the most recently created objects first.'
      operationId: list-all-accounts
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/list-all-accounts'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/pagination-query-params'
        - $ref: '#/components/parameters/fields-query-parameter'
        - in: query
          name: filter
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties: false
            properties:
              reference-id:
                description: Filter accounts by reference ID. Can be a single reference ID or an array of reference IDs.
                examples:
                  - ref_123
                  - 'ref_123,ref_456'
                unevaluatedProperties: false
                type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/account-list'
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/account'
                    type: array
                    description: An array of Accounts
                  links:
                    properties:
                      prev:
                        type:
                          - string
                          - 'null'
                        examples:
                          - /api/v1/accounts?page%5Bafter%5D=act_ABC123
                        description: 'URL pointing to the previous page of data, or null if on the first page.'
                      next:
                        type:
                          - string
                          - 'null'
                        examples:
                          - /api/v1/accounts?page%5Bafter%5D=act_ABC123
                        description: 'URL pointing to the next page of data, or null if on the last page.'
                    additionalProperties: false
                    type: object
                    required:
                      - prev
                      - next
                additionalProperties: false
                type: object
                required:
                  - data
                  - links
          description: This endpoint returns a collection of Account objects.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: List all Accounts
      tags:
        - Accounts
      x-persona-product: Accounts
    post:
      description: Creates a new Account for your organization.
      operationId: create-an-account
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/create-an-account'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      unevaluatedProperties: false
                      allOf:
                        - type: object
                          properties:
                            account-type-id:
                              type: string
                              description: Account Type ID to create the account for. Starts with `acttp_`.
                            account-status:
                              type: string
                              description: BETA FEATURE -- Name of the status to set on this Account.
                            reference-id:
                              description: 'Reference ID on Account, refers to an entity in your user model'
                              type: string
                            selfie-photo:
                              description: Selfie photo.
                              properties:
                                data:
                                  description: 'Selfie photo data, must be an image. Can also be provided as an uploaded file such as with multipart/form-data requests instead of this object.'
                                  properties:
                                    data:
                                      description: Base64 encoded image
                                      type: string
                                    filename:
                                      description: Name of the image
                                      type: string
                                  additionalProperties: false
                                  type: object
                              additionalProperties: false
                              type: object
                            tags:
                              description: A list of tag names to be associated with the Account.
                              items:
                                type: string
                              type:
                                - array
                                - 'null'
                            country-code:
                              description: ISO 3166-1 alpha 2 country code.
                              examples:
                                - US
                              type:
                                - string
                            social-security-number:
                              description: Social security number.
                              examples:
                                - 123-45-6789
                              type:
                                - string
                            fields:
                              description: JSON key-value pairs of field name to field value. Schema is defined by your Account Type.
                              type: object
                              additionalProperties: true
                            birthdate:
                              description: 'Birthdate, must be in the format "YYYY-MM-DD".'
                              format: date
                              examples:
                                - '1994-04-12'
                              type:
                                - string
                            name-first:
                              description: Given or first name.
                              examples:
                                - Jane
                              type:
                                - string
                            name-middle:
                              description: Middle name.
                              examples:
                                - Marie
                              type:
                                - string
                            name-last:
                              description: Family or last name.
                              examples:
                                - Doe
                              type:
                                - string
                            phone-number:
                              description: Phone number.
                              examples:
                                - 415-555-1234
                              type:
                                - string
                            email-address:
                              description: Email address.
                              examples:
                                - jane@doe.com
                              type:
                                - string
                            address-street-1:
                              description: Street name of residence address.
                              examples:
                                - 123 Main St
                              type: string
                            address-street-2:
                              description: 'Extension of residence address, usually apartment or suite number.'
                              examples:
                                - Apt 1
                              type: string
                            address-city:
                              description: City of residence address. Not all international addresses use this attribute.
                              examples:
                                - San Francisco
                              type: string
                            address-subdivision:
                              description: 'State or subdivision of residence address. In the US, this should be the unabbreviated name. Not all international addresses use this attribute.'
                              examples:
                                - California
                              type: string
                            address-postal-code:
                              description: ZIP or postal code of residence address. Not all international addresses use this attribute.
                              examples:
                                - '94111'
                              type: string
                  additionalProperties: false
                  type: object
                meta:
                  type: object
                  additionalProperties: false
                  properties:
                    upsert-by:
                      type:
                        - string
                        - 'null'
                      description: The field name to use for upserting the account. This field must be unique across all accounts for the given account type.
              additionalProperties: false
              type: object
      responses:
        '200':
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/account'
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
        '201':
          content:
            application/json:
              examples:
                Created:
                  $ref: '#/components/examples/account'
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                type: object
                additionalProperties: false
                required:
                  - data
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Create an Account
      tags:
        - Accounts
      x-persona-product: Accounts
  '/accounts/{account-id}':
    delete:
      description: |-
        Permanently deletes personally identifiable information (PII) for an Account and all associated Inquiries, Verifications and Reports. The response indicates a successful redaction of the Account. Redaction of the Account's associated child objects is done asynchronously and may take  some time before all associated child objects are fully redacted. **This action cannot be undone**.

        This endpoint can be used to comply with privacy regulations such as GDPR / CCPA or to enforce data privacy.

        Note: An account is still updatable after redaction. If you want to delete data continuously, please reach out to us to help you setup a retention policy.
      operationId: redact-an-account
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/redact-an-account'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: account-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/account'
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Conflict:
                  value:
                    errors:
                      - title: Conflict
                        details: Resource already exists as an active resource
              schema:
                unevaluatedProperties: false
                oneOf:
                  - properties:
                      data:
                        $ref: '#/components/schemas/account'
                      included:
                        description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                        $ref: '#/components/schemas/accounts-included-objects'
                    additionalProperties: false
                    type: object
                    title: Response with full Account
                  - properties:
                      errors:
                        type: array
                        items:
                          properties:
                            title:
                              description: Conflict
                              examples:
                                - Conflict
                                - Record not unique
                                - Stale object error
                              type: string
                            details:
                              type: string
                              examples:
                                - Account already redacted
                          additionalProperties: false
                    additionalProperties: false
                    type: object
                    title: Response with error message
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Redact an Account
      tags:
        - Accounts
      x-persona-product: Accounts
    get:
      description: Retrieves the details of an existing Account.
      operationId: retrieve-an-account
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/retrieve-an-account'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: account-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/account'
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Retrieve an Account
      tags:
        - Accounts
      x-persona-product: Accounts
    patch:
      description: Updates an existing Account.
      operationId: update-an-account
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/update-an-account'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: account-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      unevaluatedProperties: false
                      allOf:
                        - type: object
                          properties:
                            reference-id:
                              description: 'Reference ID on Account, refers to an entity in your user model'
                              type: string
                            account-status:
                              type: string
                              description: BETA FEATURE -- Name of the status to set on this Account.
                            selfie-photo:
                              description: Selfie photo.
                              properties:
                                data:
                                  description: 'Selfie photo data, must be an image. Can also be provided as an uploaded file such as with multipart/form-data requests instead of this object. Null will remove the existing selfie photo from the Account.'
                                  properties:
                                    data:
                                      description: Base64 encoded image
                                      type: string
                                    filename:
                                      description: Name of the image
                                      type: string
                                  additionalProperties: false
                                  type:
                                    - object
                                    - 'null'
                              additionalProperties: false
                              type: object
                            tags:
                              description: A list of tag names to be associated with the Account.
                              items:
                                type: string
                              type:
                                - array
                                - 'null'
                            country-code:
                              description: ISO 3166-1 alpha 2 country code.
                              examples:
                                - US
                              type:
                                - string
                            social-security-number:
                              description: Social security number.
                              examples:
                                - 123-45-6789
                              type:
                                - string
                            fields:
                              description: JSON key-value pairs of field name to field value. Schema is defined by your Account Type.
                              type: object
                              additionalProperties: true
                            birthdate:
                              description: 'Birthdate, must be in the format "YYYY-MM-DD".'
                              format: date
                              examples:
                                - '1994-04-12'
                              type: string
                            name-first:
                              description: Given or first name.
                              examples:
                                - Jane
                              type: string
                            name-middle:
                              description: Middle name.
                              examples:
                                - Marie
                              type: string
                            name-last:
                              description: Family or last name.
                              examples:
                                - Doe
                              type: string
                            phone-number:
                              description: Phone number.
                              examples:
                                - 415-555-1234
                              type: string
                            email-address:
                              description: Email address.
                              examples:
                                - jane@doe.com
                              type: string
                            address-street-1:
                              description: Street name of residence address.
                              examples:
                                - 123 Main St
                              type: string
                            address-street-2:
                              description: 'Extension of residence address, usually apartment or suite number.'
                              examples:
                                - Apt 1
                              type: string
                            address-city:
                              description: City of residence address. Not all international addresses use this attribute.
                              examples:
                                - San Francisco
                              type: string
                            address-subdivision:
                              description: 'State or subdivision of residence address. In the US, this should be the unabbreviated name. Not all international addresses use this attribute.'
                              examples:
                                - California
                              type: string
                            address-postal-code:
                              description: ZIP or postal code of residence address. Not all international addresses use this attribute.
                              examples:
                                - '94111'
                              type: string
                  additionalProperties: false
                  type: object
              additionalProperties: false
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/account'
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Update an Account
      tags:
        - Accounts
      x-persona-product: Accounts
  '/accounts/{account-id}/add-tag':
    post:
      description: Adds a new tag to an Account
      operationId: accounts-add-tag
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/add-tag'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: account-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                meta:
                  properties:
                    tag-name:
                      type: string
                      description: Name of the tag to add to the Account.
                    tag-id:
                      type: string
                      description: ID of the tag to add to the Account.
                  type: object
                  additionalProperties: false
              type: object
              additionalProperties: false
              required:
                - meta
            examples:
              Success:
                $ref: '#/components/examples/set-tag'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
              examples:
                Success:
                  $ref: '#/components/examples/account'
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Add tag to an Account
      tags:
        - Accounts
      x-persona-product: Accounts
  '/accounts/{account-id}/consolidate':
    post:
      description: |-
        Consolidates several source Accounts' information into one target Account. Any Persona resource associated with the source Account will be transferred over to the destination Account. However, the Account's attributes will **not** be transferred. After consolidation, you can update the destination Account's attributes using the [Account update endpoint](https://docs.withpersona.com/api-reference/accounts/update-an-account).

        This endpoint can be used to clean up duplicate Accounts.

        Note: A source account can only be consolidated once. Afterwards, the source account will be archived and unable to be used moving forward - any attempts to create an inquiry attached to the source account will fail.
      operationId: consolidate-into-an-account
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/consolidate-into-an-account'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - description: Destination Account ID
          in: path
          name: account-id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                meta:
                  required:
                    - source-account-ids
                  properties:
                    source-account-ids:
                      description: A list of Account IDs that need to be consolidated into the destination Account.
                      items:
                        type: string
                      type: array
                  additionalProperties: false
                  type: object
              required:
                - meta
              additionalProperties: false
              type: object
            examples:
              Accepted:
                $ref: '#/components/examples/consolidate-accounts'
      responses:
        '202':
          content:
            application/json:
              examples:
                Accepted:
                  $ref: '#/components/examples/account'
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Consolidate Accounts
      tags:
        - Accounts
      x-persona-product: Accounts
  '/accounts/{account-id}/relations':
    get:
      description: Gets relations for an Account by key
      operationId: accounts-list-all-relations
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/list-all-relations'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: account-id
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          style: deepObject
          explode: true
          required: true
          schema:
            type: object
            additionalProperties: false
            properties:
              key:
                type: string
                description: Filter relations by relation key.
              created-at-start:
                type: string
                description: Filter relations by creation date.
              created-at-end:
                type: string
                description: Filter relations by creation date.
            required:
              - key
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    unevaluatedProperties: false
                    description: List of relations for the Account. The type of the returned objects is determined by the key query parameter.
                    items:
                      unevaluatedProperties: false
                      oneOf:
                        - $ref: '#/components/schemas/account'
                        - $ref: '#/components/schemas/transaction'
                  links:
                    properties:
                      prev:
                        examples:
                          - /api/v1/accounts/act_ABC123/relations?filter%5Bkey%5D=my_relation&page%5Bafter%5D=act_XYZ987
                        type:
                          - 'null'
                          - string
                        description: 'URL pointing to the previous page of data, or null if on the first page.'
                      next:
                        examples:
                          - /api/v1/accounts/act_ABC123/relations?filter%5Bkey%5D=my_relation&page%5Bafter%5D=act_XYZ987
                        type:
                          - 'null'
                          - string
                        description: 'URL pointing to the next page of data, or null if on the last page.'
                    additionalProperties: false
                    type: object
                    required:
                      - prev
                      - next
                additionalProperties: false
                type: object
                required:
                  - data
                  - links
              examples:
                Success:
                  $ref: '#/components/examples/account-list'
          description: This endpoint returns a collection of Account relations.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Get all relations for an Account
      tags:
        - Accounts
      x-persona-product: Accounts
  '/accounts/{account-id}/remove-tag':
    post:
      description: Removes an existing tag from an Account
      operationId: accounts-remove-tag
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/remove-tag'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: account-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                meta:
                  properties:
                    tag-name:
                      type: string
                      description: Name of the tag to remove from the Account.
                    tag-id:
                      type: string
                      description: ID of the tag to remove from the Account.
                  additionalProperties: false
                  type: object
              additionalProperties: false
              type: object
              required:
                - meta
            examples:
              Success:
                $ref: '#/components/examples/set-tag'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
              examples:
                Success:
                  $ref: '#/components/examples/account'
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Remove tag from an Account
      tags:
        - Accounts
      x-persona-product: Accounts
  '/accounts/{account-id}/set-tags':
    post:
      description: Sets all tags on an Account. Any tags that are not provided in the request will be removed.
      operationId: accounts-set-all-tags
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/set-all-tags'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: account-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                meta:
                  properties:
                    tag-name:
                      description: Name of the tags to set on the Account.
                      items:
                        type: string
                      type: array
                    tag-id:
                      description: ID of the tags to set on the Account.
                      items:
                        type: string
                      type: array
                  additionalProperties: false
                  type: object
              additionalProperties: false
              type: object
              required:
                - meta
            examples:
              Success:
                $ref: '#/components/examples/set-tags'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/accounts-included-objects'
                additionalProperties: false
                type: object
                required:
                  - data
              examples:
                Success:
                  $ref: '#/components/examples/account'
          description: This endpoint returns an Account object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Set tags on an Account
      tags:
        - Accounts
      x-persona-product: Accounts
  '/accounts/{account-id}/run-action':
    post:
      summary: Run an account action
      description: Triggers an account action for the specified account
      operationId: runAccountAction
      tags:
        - Accounts
      x-persona-product: Accounts
      parameters:
        - name: account-id
          in: path
          required: true
          schema:
            type: string
            pattern: '^act_[a-zA-Z0-9]{24,28}$'
          description: The ID of the account to run the action on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                data:
                  type: object
                  additionalProperties: false
                  properties:
                    account-action-id:
                      type: string
                      description: The ID of the account action to run
                      pattern: '^accac_[a-zA-Z0-9]{24,28}$'
                    parameters:
                      type: object
                      description: Parameters required by the account action
                      additionalProperties: true
                  required:
                    - account-action-id
              required:
                - data
            examples:
              Success:
                $ref: '#/components/examples/run-account-action'
      responses:
        '200':
          description: Account action executed successfully
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/account'
                  meta:
                    type: object
                    additionalProperties: false
                    properties:
                      workflow-run-id:
                        type: string
                        description: The ID of the workflow run created by this action
                        examples:
                          - wfr_abc123def456ghi789
                    required:
                      - workflow-run-id
                required:
                  - data
                  - meta
              examples:
                Success:
                  $ref: '#/components/examples/account-with-meta'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /accounts/search:
    post:
      description: |
        Search for accounts using a flexible query language.

        ## Search vs. List Endpoints

        The Search and List endpoints serve different purposes and have distinct performance characteristics.

        Use the **Search** endpoint (`POST /accounts/search`) when you need to perform complex queries with boolean logic (AND/OR/NOT), filter by custom fields or identifiers, or apply multiple conditions simultaneously. Search is optimized for flexible querying and is faster than paginating through all resources when looking for specific records.

        Use the **List** endpoint (`GET /accounts`) for simple listing with basic filters like reference ID.

        ## Data Freshness

        Do not use search for read-after-write flows because the data will not be immediately available to search.
        Under normal operating conditions, data is searchable within approximately 1 minute of creation or modification.
        Propagation of new or updated data could be delayed during an outage.
        For workflows that require immediate data availability after creating or updating an account, use the List Accounts endpoint instead.

        ### Searchable Attributes

        The following attributes can be used in query predicates:

        | Attribute | Description |
        |-----------|-------------|
        | `type` | Account type (e.g., `acttp_ABC123`) |
        | `status` | Account status (e.g., `actst_ABC123`) |
        | `created_at` | Account creation timestamp |
        | `updated_at` | Account last updated timestamp |
        | `identifiers.*` | Custom identifier (e.g., `identifiers.user_id`) |
        | `fields.*` | Custom account field (e.g., `fields.age`) |

        **Note:** Custom fields (`fields.*`) must be configured as searchable on the Account Type to be queryable.
      operationId: search-accounts
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/accounts/search-accounts'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/fields-query-parameter'
        - in: query
          name: page
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties: false
            properties:
              after:
                description: Cursor for forward pagination. Use the value from `links.next` in the previous response.
                type: string
                examples:
                  - act_ABC123
              before:
                description: Cursor for backward pagination. Use the value from `links.prev` in the previous response.
                type: string
                examples:
                  - act_XYZ789
              size:
                description: Number of results to return per page.
                type: integer
                minimum: 1
                maximum: 100
                default: 10
                examples:
                  - 10
      requestBody:
        content:
          application/json:
            schema:
              properties:
                query:
                  description: |
                    Search query using boolean logic (AND/OR/NOT) and comparison operators.
                    Supports predicates with operators: eq (equal), gt (greater than), gte (greater than or equal),
                    lt (less than), lte (less than or equal).
                  unevaluatedProperties: false
                  oneOf:
                    - type: object
                      x-inheritable: true
                      additionalProperties: false
                      description: |
                        Boolean AND clause - combines multiple conditions where ALL must be true.

                        This clause is recursive: each item in the `and` array can be another AND, OR, NOT clause, or a leaf predicate, enabling complex nested queries.

                        Maximum nesting depth: 2 levels, Maximum clauses per AND: 20
                      properties:
                        and:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                      required:
                        - and
                    - type: object
                      x-inheritable: true
                      additionalProperties: false
                      description: |
                        Boolean OR clause - combines multiple conditions where AT LEAST ONE must be true.

                        This clause is recursive: each item in the `or` array can be another AND, OR, NOT clause, or a leaf predicate, enabling complex nested queries.

                        Maximum nesting depth: 2 levels, Maximum clauses per OR: 20
                      properties:
                        or:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                      required:
                        - or
                    - type: object
                      x-inheritable: true
                      additionalProperties: false
                      description: |
                        Boolean NOT clause - negates a single condition.

                        This clause is recursive: the `not` value can be another AND, OR, NOT clause, or a leaf predicate, enabling complex nested queries.

                        Maximum nesting depth: 2 levels
                      properties:
                        not:
                          type: object
                          additionalProperties: true
                      required:
                        - not
                    - type: object
                      x-inheritable: true
                      additionalProperties: false
                      description: Attribute predicate
                      properties:
                        attribute:
                          type: string
                          description: 'The attribute name to filter on (e.g., ''created_at'', ''type'', ''status'', ''fields.age'')'
                          examples:
                            - created_at
                            - type
                            - status
                            - fields.age
                        operator:
                          type: string
                          description: 'Comparison operator. Possible values: eq (equal), gt (greater than), gte (greater than or equal), lt (less than), lte (less than or equal).'
                        value:
                          description: Value to compare against
                          x-inheritable: true
                          unevaluatedProperties: false
                          oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                      required:
                        - attribute
                        - operator
                        - value
                  examples:
                    - attribute: created_at
                      operator: gte
                      value: '2025-01-01'
                    - and:
                        - attribute: type
                          operator: eq
                          value: acttp_ABC123
                        - attribute: created_at
                          operator: gte
                          value: '2025-01-01'
                sort:
                  description: Sort configuration for results
                  type: object
                  additionalProperties: false
                  properties:
                    attribute:
                      type: string
                      description: The attribute name to sort by
                      examples:
                        - created_at
                        - updated_at
                        - type
                        - fields.age
                    direction:
                      type: string
                      default: desc
                      description: 'Sort direction. Possible values: asc (ascending), desc (descending).'
                  required:
                    - attribute
                    - direction
                page:
                  description: Pagination parameters
                  type: object
                  additionalProperties: false
                  properties:
                    after:
                      description: Cursor for forward pagination
                      type: string
                      examples:
                        - act_ABC123
                    before:
                      description: Cursor for backward pagination
                      type: string
                      examples:
                        - act_XYZ789
                    size:
                      description: Number of results to return per page
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                      examples:
                        - 10
              additionalProperties: false
              type: object
            examples:
              Simple query:
                value:
                  query:
                    not:
                      attribute: status
                      operator: eq
                      value: actst_ABC123
                  sort:
                    attribute: created_at
                    direction: asc
                  page:
                    size: 15
              Complex boolean query:
                value:
                  query:
                    and:
                      - attribute: type
                        operator: eq
                        value: acttp_ABC123
                      - or:
                          - attribute: status
                            operator: eq
                            value: actst_ABC123
                          - attribute: status
                            operator: eq
                            value: actst_ABC456
                  sort:
                    attribute: created_at
                    direction: desc
                  page:
                    size: 15
              Empty query (all accounts):
                value:
                  page:
                    size: 15
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/account-list-search'
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/account'
                    type: array
                    description: An array of Accounts matching the search criteria
                  links:
                    properties:
                      prev:
                        type:
                          - string
                          - 'null'
                        examples:
                          - /api/v1/accounts/search?page%5Bbefore%5D=act_ABC123&page%5Bsize%5D=10
                        description: 'URL pointing to the previous page of data, or null if on the first page. Must be used with POST request and original request body.'
                      next:
                        type:
                          - string
                          - 'null'
                        examples:
                          - /api/v1/accounts/search?page%5Bafter%5D=act_ABC123&page%5Bsize%5D=10
                        description: 'URL pointing to the next page of data, or null if on the last page. Must be used with POST request and original request body.'
                    additionalProperties: false
                    type: object
                    required:
                      - prev
                      - next
                additionalProperties: false
                type: object
                required:
                  - data
                  - links
          description: This endpoint returns a collection of Account objects matching the search criteria.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Search Accounts
      tags:
        - Accounts
      x-persona-product: Accounts
  /api-keys:
    get:
      description: 'Returns a list of your organization''s API keys. Results are returned in reverse chronological order, with the most recently created objects first.'
      operationId: list-all-api-keys
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/api-keys/list-all-api-keys'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/pagination-query-params'
        - $ref: '#/components/parameters/fields-query-parameter'
        - in: query
          name: filter
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties: false
            properties:
              name:
                type: string
                description: Filter API keys by name
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/api-key-list'
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/api-key'
                    type: array
                    description: An array of API Keys
                  links:
                    properties:
                      next:
                        type:
                          - string
                          - 'null'
                      prev:
                        type:
                          - string
                          - 'null'
                    type: object
                    additionalProperties: false
                    required:
                      - next
                      - prev
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                required:
                  - data
                  - links
          description: This endpoint returns a collection of API key objects.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: List all API keys
      tags:
        - API Keys
      x-persona-product: API Keys
    post:
      description: Creates a new API key with response defaults and permissions.
      operationId: create-an-api-key
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/api-keys/create-an-api-key'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
      requestBody:
        $ref: '#/components/requestBodies/create-api-key-request'
      responses:
        '201':
          content:
            application/json:
              examples:
                Created:
                  $ref: '#/components/examples/api-key-with-value'
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/api-key-with-value'
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                required:
                  - data
          description: This endpoint returns an API key object.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Create an API key
      tags:
        - API Keys
      x-persona-product: API Keys
  '/api-keys/{api-key-id}':
    get:
      description: 'Retrieves the information for an existing API key, including its value.'
      operationId: retrieve-an-api-key
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/api-keys/retrieve-an-api-key'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - description: API key's ID (starts with "api_")
          in: path
          name: api-key-id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/api-key-with-value'
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/api-key-with-value'
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                required:
                  - data
          description: This endpoint returns an API key object.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Retrieve an API key
      tags:
        - API Keys
      x-persona-product: API Keys
    patch:
      description: Updates an existing API key.
      operationId: update-an-api-key
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/api-keys/update-an-api-key'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - description: API key's ID (starts with "api_")
          in: path
          name: api-key-id
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/update-api-key-request'
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/api-key'
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/api-key'
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                required:
                  - data
          description: This endpoint returns an API key object.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Update an API key
      tags:
        - API Keys
      x-persona-product: API Keys
  '/api-keys/{api-key-id}/expire':
    post:
      description: Deactivates an API key within some time period
      operationId: expire-an-api-key
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/api-keys/expire-an-api-key'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - description: API key's ID (starts with "api_")
          in: path
          name: api-key-id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                meta:
                  properties:
                    expires-in-seconds:
                      description: Number of seconds from now to expire the key (max of 30 days)
                      type: integer
                  required:
                    - expires-in-seconds
                  type: object
                  additionalProperties: false
              type: object
              additionalProperties: false
              required:
                - meta
            examples:
              Success:
                $ref: '#/components/examples/expire-api-key'
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/api-key'
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/api-key'
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                required:
                  - data
          description: This endpoint returns an API key object.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Expire an API key
      tags:
        - API Keys
      x-persona-product: API Keys
  '/api-keys/{api-key-id}/clone':
    post:
      description: Creates a copy of an existing API key. All attributes except the value are copied over to the new API key.
      operationId: clone-api-key
      parameters:
        - in: path
          name: api-key-id
          required: true
          schema:
            type: string
          description: The token/ID of the API key to be cloned.
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
      responses:
        '200':
          description: This endpoint returns an API key object.
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/api-key-with-value'
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/api-key-with-value'
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                required:
                  - data
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Clone an API key
      tags:
        - API Keys
      x-persona-product: API Keys
  /api-logs:
    get:
      description: 'Returns a list of your organization''s API Logs. Results are returned in reverse chronological order, with the most recently created objects first.'
      operationId: list-all-api-logs
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/api-logs/list-all-api-logs'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/pagination-query-params'
        - $ref: '#/components/parameters/fields-query-parameter'
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/api-log-list'
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/api-log'
                    type: array
                    description: An array of API Logs
                  links:
                    properties:
                      next:
                        examples:
                          - /api/v1/api-logs?page%5Bafter%5D=req_19pQg1NHfYeUdpIvYZ54xmDz
                        type:
                          - string
                          - 'null'
                      prev:
                        examples:
                          - /api/v1/api-logs?page%5Bbefore%5D=req_1ePP8j3pyznPCEuw4TCjWWD0
                        type:
                          - string
                          - 'null'
                    type: object
                    additionalProperties: false
                    required:
                      - next
                      - prev
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                type: object
                additionalProperties: false
                required:
                  - data
                  - links
          description: This endpoint returns a collection of API log objects.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: List all API Logs
      tags:
        - API Logs
      x-persona-product: API Logs
  '/api-logs/{api-log-id}':
    get:
      description: Retrieves the details of an existing API Log.
      operationId: retrieve-an-api-log
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/api-logs/retrieve-an-api-log'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: api-log-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  $ref: '#/components/examples/api-log'
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/api-log'
                  included:
                    $ref: '#/components/schemas/empty-included-objects'
                type: object
                additionalProperties: false
                required:
                  - data
          description: This endpoint returns an API log object.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Retrieve an API Log
      tags:
        - API Logs
      x-persona-product: API Logs
  /cases:
    get:
      description: |-
        Returns a list of your organization's cases.

        Note that this endpoint aggregates cases across all case template(s). See [Pagination](https://docs.withpersona.com/pagination)for more details about handling the response. Results are returned in reverse chronological order, with the most recently created objects first.
      operationId: list-all-cases
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/cases/list-all-cases'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/pagination-query-params'
        - $ref: '#/components/parameters/fields-query-parameter'
        - in: query
          name: filter
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties: false
            properties:
              status:
                description: Filter cases by status
                examples:
                  - Open
                type: string
              case-template-id:
                description: Filter cases by case template ID
                examples:
                  - ctmpl_ABC123
                type: string
              account-id:
                description: Filter cases by account ID
                examples:
                  - act_ABC123
                type: string
              reference-id:
                description: Filter cases by reference ID
                examples:
                  - abc-123
                type: string
              inquiry-id:
                description: Filter cases by inquiry ID
                examples:
                  - inq_ABC123
                type: string
              report-id:
                description: Filter cases by report ID
                examples:
                  - rep_ABC123
                type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  value:
                    data:
                      - type: case
                        id: case_KsFU1Vxv9oK3ztnwQuD7MaJo
                        attributes:
                          status: open
                          name: KCAS-1
                          resolution: null
                          created-at: '2021-03-24T04:59:21.764Z'
                          updated-at: '2021-03-24T04:59:21.764Z'
                          assigned-at: null
                          resolved-at: null
                          redacted-at: null
                          sla-expires-at: null
                          creator-id: case_creator@withpersona.com
                          creator-type: user
                          assignee-id: case_assignee@withpersona.com
                          assigner-id: case_assigner@withpersona.com
                          assigner-type: user
                          resolver-id: null
                          resolver-type: null
                          updater-id: case_updater@withpersona.com
                          updater-type: user
                          tags: []
                          fields: {}
                          attachments: []
                        relationships:
                          case-template:
                            data:
                              type: case-template
                              id: ctmpl_336jV1uVaaY84GAqvG91oiy9
                          case-queue:
                            data:
                              type: case-queue
                              id: cqueue_7JRbkcdbx9fTossK98NJvRZcmk1
                          case-comments:
                            data: []
                          accounts:
                            data: []
                          inquiries:
                            data:
                              - type: inquiry
                                id: inq_eGK41TM6GjcZgdcoox7x8Hh0
                          reports:
                            data: []
                          verifications:
                            data: []
                          txns:
                            data: []
                    links:
                      prev: null
                      next: /api/v1/cases?page%5Bafter%5D=case_19pQg1NHfYeUdpIvYZ54xmDz
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/case'
                    type: array
                    description: An array of Cases
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/cases-included-objects'
                  links:
                    properties:
                      next:
                        examples:
                          - /api/v1/cases?page%5Bafter%5D=case_19pQg1NHfYeUdpIvYZ54xmDz
                        type:
                          - string
                          - 'null'
                      prev:
                        examples:
                          - /api/v1/cases?page%5Bbefore%5D=case_1ePP8j3pyznPCEuw4TCjWWD0
                        type:
                          - string
                          - 'null'
                    type: object
                    additionalProperties: false
                    required:
                      - next
                      - prev
                type: object
                additionalProperties: false
                required:
                  - data
                  - links
          description: This endpoint returns a collection of Case objects.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: List all Cases
      tags:
        - Cases
      x-persona-product: Cases
    post:
      description: Creates a new case in your organization.
      operationId: create-a-case
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/cases/create-a-case'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      description: 'Properties can include Case Template ID, creator email address, and fields configured on your Case Template.'
                      properties:
                        case-template-id:
                          description: ID of the case template for this case
                          type: string
                        creator-email-address:
                          description: Email of the user creating this case in the organization
                          type: string
                        case-queue-id:
                          description: ID of the case queue to put this case in
                          type: string
                      required:
                        - case-template-id
                      type: object
                      additionalProperties: true
                  type: object
                  additionalProperties: false
                meta:
                  properties:
                    object-ids:
                      description: 'Array of Persona object IDs that should be related to this case. The following object types are supported- accounts, documents, graph queries, inquiries, reports, report runs, sars, transactions, and, verifications.'
                      items:
                        type: string
                      type: array
                    sla-expires-in-seconds:
                      description: Number of seconds from now when SLA expires (max of 90 days).
                      examples:
                        - 7200
                      type:
                        - 'null'
                        - number
                  type: object
                  additionalProperties: false
              required:
                - data
              type: object
              additionalProperties: false
            examples:
              Created:
                $ref: '#/components/examples/create-case'
      responses:
        '201':
          content:
            application/json:
              examples:
                Created:
                  value:
                    data:
                      type: case
                      id: case_gqe7rH38FvxtzhGBQmDBsjkB
                      attributes:
                        status: open
                        name: MRR-3
                        resolution: null
                        created-at: '2021-09-28T05:18:36.200Z'
                        updated-at: '2021-09-28T05:18:36.200Z'
                        assigned-at: null
                        resolved-at: null
                        redacted-at: null
                        sla-expires-at: '2021-09-28T07:18:36.200Z'
                        creator-id: case_creator@withpersona.com
                        creator-type: user
                        assignee-id: null
                        assigner-id: null
                        assigner-type: null
                        resolver-id: null
                        resolver-type: null
                        updater-id: null
                        updater-type: null
                        tags: []
                        fields: {}
                        attachments: []
                      relationships:
                        case-template:
                          data:
                            type: case-template
                            id: ctmpl_Jumm3K4zHwaLBBdyLUCnHbBC
                        case-queue:
                          data:
                            type: case-queue
                            id: cqueue_7JRbkcdbx9fTossK98NJvRZcmk1
                        case-comments:
                          data: []
                        accounts:
                          data: []
                        inquiries:
                          data:
                            - type: inquiry
                              id: inq_KHK4MJCE4QvfocWB2intQ3YE
                        reports:
                          data: []
                        verifications:
                          data: []
                        txns:
                          data: []
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/case'
                  included:
                    description: |-
                      Included by default:

                      - Accounts
                      - Inquiries
                      - Reports

                      Anything else must be explicitly requested with the `include` query parameter.
                    $ref: '#/components/schemas/cases-included-objects'
                type: object
                additionalProperties: false
                required:
                  - data
          description: This endpoint returns a Case object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
        '503':
          $ref: '#/components/responses/service-unavailable'
      summary: Create a Case
      tags:
        - Cases
      x-persona-product: Cases
  '/cases/{case-id}':
    delete:
      description: Permanently redacts a Case and its fields. Case objects must be redacted individually. **This action cannot be undone**.
      operationId: redact-a-case
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: case-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  value:
                    data:
                      type: case
                      id: case_KsFU1Vxv9oK3ztnwQuD7MaJo
                      attributes:
                        status: Approved
                        name: KCAS-1
                        resolution: null
                        created-at: '2021-03-24T04:59:21.764Z'
                        updated-at: '2021-03-24T04:59:21.764Z'
                        assigned-at: null
                        resolved-at: '2021-03-25T04:59:21.764Z'
                        redacted-at: '2021-03-26T04:59:21.764Z'
                        sla-expires-at: '2021-03-26T06:59:21.764Z'
                        creator-id: case_creator@withpersona.com
                        creator-type: user
                        assignee-id: null
                        assigner-id: null
                        assigner-type: null
                        resolver-id: case_resolver@withpersona.com
                        resolver-type: user
                        updater-id: case_updater@withpersona.com
                        updater-type: user
                        tags: []
                        fields: {}
                        attachments: []
                      relationships:
                        case-template:
                          data:
                            type: case-template
                            id: ctmpl_336jV1uVaaY84GAqvG91oiy9
                        case-queue:
                          data:
                            type: case-queue
                            id: cqueue_7JRbkcdbx9fTossK98NJvRZcmk1
                        case-comments:
                          data:
                            - type: case-comment
                              id: cscm_yd2urRmjaCWcSSxqTSHvUcsn
                        accounts:
                          data:
                            - type: account
                              id: act_RNwaSKFUDTzxUakAEuE2xmhZ
                        inquiries:
                          data:
                            - type: inquiry
                              id: inq_b6UPkf7mNC1qBtLXnfaWyUbY
                        reports:
                          data: []
                        verifications:
                          data: []
                        txns:
                          data: []
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/case'
                  included:
                    description: Objects that _may_ be returned if specified via the `include` query parameter in the request.
                    $ref: '#/components/schemas/cases-included-objects'
                type: object
                additionalProperties: false
                required:
                  - data
          description: This endpoint returns a Case object and (optionally) its related objects in `included`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not-found'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessable-entity'
        '429':
          $ref: '#/components/responses/too-many-requests'
      summary: Redact a Case
      tags:
        - Cases
      x-persona-product: Cases
    get:
      description: Retrieves the details of an existing Case.
      operationId: retrieve-case
      externalDocs:
        description: Full documentation for this API on the Persona website.
        url: 'https://docs.withpersona.com/api-reference/cases/retrieve-case'
      parameters:
        - $ref: '#/components/parameters/key-inflection-header'
        - $ref: '#/components/parameters/idempotency-key-header'
        - $ref: '#/components/parameters/persona-version-header'
        - $ref: '#/components/parameters/include-query-parameter'
        - $ref: '#/components/parameters/fields-query-parameter'
        - name: case-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  value:
                    data:
                      type: case
                      id: case_KsFU1Vxv9oK3ztnwQuD7MaJo
                      attributes:
                        status: Approved
                        name: KCAS-1
                        resolution: null
                        created-at: '2021-03-24T04:59:21.764Z'
                        updated-at: '2021-03-24T04:59:21.764Z'
                        assigned-at: null
                        resolved-at: '2021-03-25T04:59:21.764Z'
                        redacted-at: null
                        sla-expires-at: null
                        creator-id: case_creator@withpersona.com
                        creator-type: user
                        assignee-id: null
                        assigner-id: null
                        assigner-type: null
                        resolver-id: case_resolver@withpersona.com
[...]
